//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.gem-c-devolved-nations {

    background: #f3f2f1;
    
    margin-bottom: 15px;
    padding: 15px;
    
    }
    
    
