{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, the service is unavailable
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      You will be able to use the service on Monday 19&nbsp;November&nbsp;2024.
    </p>
    <p class="govuk-body">
      We have not saved your answers. When the service is available, you will have to start again.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Contact the Centre for International Trade</a> if you need to speak to someone about pest and dieases information or 
       importing a plant into Great Britain.
    </p>
  </div>
</div>

{% endblock %}