{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you importing this plant into the United Kingdom?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
      data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#import">Select yes if you are importing the plant into the United Kingdom </a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    <form class="form" method="post">
      <div class="govuk-form-group {% if error %} govuk-form-group--error {% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="import-h1">
              Are you importing this plant into the United Kingdom?
            </h1>
          </legend>

          {% if error %}
          <span id="user-type-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you are importing the plant into
            the United Kingdom
          </span>
          {% endif %}
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="import" name="import" type="radio" value="yes" {{
                checked("import", "yes" ) }}>
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="import-2" name="import" type="radio" value="no" {{
                checked("import", "no" ) }}>
              <label class="govuk-label govuk-radios__label" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>

  {% endblock %}