{% extends "layouts/main.html" %}

{% block pageTitle %}
Search for a plant, pest or disease
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
      data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#search">Enter a plant, pest or disease to search</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    <form class="form" method="post">
      <div class="govuk-form-group {% if error %} govuk-form-group--error {% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="search-h1">
              Search for a plant, pest or disease
            </h1>
          </legend>

          {% if error %}
          <span id="search-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a plant, pest or disease to search
          </span>
          {% endif %}
          {{ xGovukAutocomplete({
          id: "searchQuery",
          name: "searchQuery",
          allowEmpty: true,
          items: [
          { "text": "Aleurodicus dispersus (Spiralling white fly)" },
          { "text": "Amaryllis belladonna (Lily)" },
          { "text": "Bemisia tabaci (Cassava whitefly, Cotton whitefly, Sweet potato whitefly, Tobacco whitefly)" },
          { "text": "Cactodera cacti" },
          { "text": "Ceroplastes sinensis" },
          { "text": "Chrysanthemum carinatum (Chrysanthemums)" },
          { "text": "Clover phyllody phytoplasma" },
          { "text": "Curtobacterium flaccumfaciens pv. Poinsettiae" },
          { "text": "Dahlia pinnata (Dahlias)" },
          { "text": "Dianthus caryophyllus (Carnations)" },
          { "text": "Duponchelia fovealis (Dark Marbled Tabby, European Pepper Moth, Southern European marshland
          pyralid)" },
          { "text": "Echinothrips americanus" },
          { "text": "Eotetranychus lewisi (Lewis spider mite)" },
          { "text": "Eotetranychus sexmaculatus" },
          { "text": "Erysiphe euphorbiae" },
          { "text": "Erysiphe euphorbiicola" },
          { "text": "Euphorbia pulcherrima (Poinsettias)" },
          { "text": "Geranium pilosum (Geraniums)" },
          { "text": "Leveillula clavata" },
          { "text": "Lilium lancifolium (Devil lily, Kentan, lily, tiger)" },
          { "text": "Opogona sacchari (Banana moth, Sugarcane borer, Sugarcane moth)" },
          { "text": "Orchidaceae" },
          { "text": "Pelargonium x hortorum. (Pelargonium, zonal)" },
          { "text": "Quercus robur (Oak)" },
          { "text": "Rosa rugosa (Rosa, Ramanas, Rose, hedge-row)" },
          { "text": "Tulipa (Tulips)" },
          { "text": "Trialeurodes abutiloneus (Banded-winged whitefly)" },
          { "text": "Xanthomonas axonopodis pv. Poinsettiicola" },
          { "text": "Xylella fastidiosa" }
          ]
          }) }}
        </fieldset>
      </div>
      <button type="submit" class="govuk-button">
        Search
      </button>
    </form>
  </div>

  {% endblock %}