{% extends "layouts/main.html" %}

{% block pageTitle %}
Parabemisia myricae - Check plant health information and import rules — GOV.UK
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      Pest or disease
    </span>
    <h1 class="govuk-heading-xl">
      Parabemisia myricae
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must <a class="govuk-link"
        href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/">report any
        suspicions</a> of Parabemisia myricae
      </strong>

    </div>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Preferred name
    </h3>
    <ul class="govuk-list">
      <li>
        Parabemisia myricae
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>
    <ul class="govuk-list">
      <li>
        Japanese bayberry whitefly	
      </li>
    </ul>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <ul class="govuk-list">
      <li>
        Bemisia myricae
      </li>
    </ul>

    <!--<div class="govuk-grid-row govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-half govuk-body">
        <a href="https://gd.eppo.int/taxon/XYLEFA/" rel="noreferrer noopener" target="_blank">
          <img src="/public/XYLEFA_1791.jpg" alt="View plant pest factsheet on Xylella fastidiosa (PDF)">
        </a>
      </div>
   
    </div>-->
    <div class="govuk-inset-text">
      There are no photos of Parabemisia myricae to view in the EPPO Global Database.
    </div>
    

    <!--
    <h2 class="govuk-heading-m">
      Plant health publications about Parabemisia myricae
    </h2>
    <p class="'govuk-body">These files may not be suitable for users of assistive technology.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Request an accessible format
        </span>
      </summary>
      <div class="govuk-details__text">
        If you use assistive technology (such as a screen reader) and need a version of this document in a more
        accessible format, please email plantpestsrisks@defra.gov.uk. Please tell us what format you need. It
        will help us if you say what assistive technology you use. </div>
    </details>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">

      <div class="govuk-grid-column-one-quarter">
        <a href="/public/factsheets/xylella_fact_sheet.pdf" rel="noreferrer noopener" target="_blank">
          <img src="/public/doc_image.png" alt="View plant pest factsheet on Xylella fastidiosa (PDF)">
        </a>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <a href="/public/factsheets/anolgl_fact_sheet.pdf"
          class="govuk-link govuk-body-l govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Plant pest factsheet (Not available)
        </a>
        <div id="file-hint" class="govuk-hint govuk-!-margin-top-2">
          March 2023
          <br>
          PDF, 303KB, 5 pages
        </div>
      </div>
    </div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Other publications (Need updated data)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Title</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">November 2021</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/alerts/Pest_alert_Xylella_on_olive_trees.pdf">Pest alert: Olive trees, risk to trade
              from
              Xylella fastidiosa<span class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF, 6
            pages)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">October 2020</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/factsheets/xylella_fact_sheet.pdf">Supplementary data on Xylella fastidiosa<span
                class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF, 6
            pages)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">July 2019</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/infoNote/Xylella-hostinfonote.pdf">Information note: Xylella high risk hosts <span
                class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF, 5
            pages)</td>
        </tr>
      </tbody>
    </table>-->

    <h2 class="govuk-heading-m">
      Plants that are known to carry Parabemisia myricae
    </h2>


<!--PLANT LIST-->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Scientific name</th>
      <th scope="col" class="govuk-table__header">Common names</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Betula</td>
      <td class="govuk-table__cell">Chinese red-barked birch	</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Camellia sinensis</td>
      <td class="govuk-table__cell">tea, 
        tea plant	</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Cinnamomum camphora</td>
      <td class="govuk-table__cell">camphor, 
        camphor laurel, 
        camphor tree, 
        Japanese camphor tree, 
        majestic beauty camphor	</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Citrus</td>
      <td class="govuk-table__cell">Australian finger lime		</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Citrus limon</td>
      <td class="govuk-table__cell">lemon		</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Citrus paradisi</td>
      <td class="govuk-table__cell">grapefruit, 
        pomelo		</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Citrus reticulata</td>
      <td class="govuk-table__cell">clementine, 
        clementine tree, 
        mandarin, 
        tangerine</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Citrus sinensis</td>
      <td class="govuk-table__cell">sweet orange	</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Coffea</td>
      <td class="govuk-table__cell">Arabian coffee, 
        coffee tree	</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Diospyros kaki</td>
      <td class="govuk-table__cell">Chinese date plu, 
        Chinese persimmon, 
        Japanese persimmon, 
        kaki, 
        kaki plum, 
        persimmon	</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Eriobotrya japonica</td>
      <td class="govuk-table__cell">Japanese medlar, 
        loquat</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Ficus carica</td>
      <td class="govuk-table__cell">common fig, 
        fig</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Fortunella</td>
      <td class="govuk-table__cell">large round kumquat, 
        meiwa kumquat, 
        sweet kinkan, 
        sweet kumquat</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Gardenia jasminoides</td>
      <td class="govuk-table__cell">Cape jasmine, 
        Cape jessamine, 
        common gardenia, 
        gardenia</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hibiscus</td>
      <td class="govuk-table__cell">false roselle, 
        redleaf hibiscus</td>
      </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Morus alba</td>
      <td class="govuk-table__cell">silkworm mulberry, 
        white mulberry</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Myrica rubra</td>
      <td class="govuk-table__cell">Chinese bayberry, 
        Chinese strawberry tree, 
        Japanese bayberry, 
        red bayberry, 
        yumberry</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Persea americana</td>
      <td class="govuk-table__cell">alligator pear, 
        avocado, 
        avocado pear, 
        holly ghost pear</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poncirus</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poncirus trifoliata</td>
      <td class="govuk-table__cell">golden apple, 
        hardy orange, 
        trifoliate orange</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prunus</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prunus avium ssp.</td>
      <td class="govuk-table__cell">cherry, 
        gean, 	
        mazzard, 
        sweet cherry, 
        wild cherry</td>
    </tr>
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prunus avium ssp.</td>
      <td class="govuk-table__cell">cherry, 
        gean, 	
        mazzard, 
        sweet cherry, 
        wild cherry</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prunus domestica ssp.</td>
      <td class="govuk-table__cell">European plum, 
        garden plum, 
        plum, 
        wild plum</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prunus persica</td>
      <td class="govuk-table__cell">peach</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prunus salicina</td>
      <td class="govuk-table__cell">Chinese plum, 
        Japanese plum</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Pyrus pyraster</td>
      <td class="govuk-table__cell">wild pear	</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Quercus</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Salix</td>
      <td class="govuk-table__cell"></td>
    </tr>
    </tbody>
</table>


    
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button" href="purpose">
        Find another plant or pest
      </button>
      <p class="govuk-heading-s">Get help with this service</p>
      <p class="govuk-body">If you have any queries or you need technical support, email <a href="mailto:planthealth.Info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
      </p>
    </form>

  </div>
</div>

<style>
  @media only screen and (max-width: 640px) {
    img {
      width: 30%
    }
  }

  @media only screen and (min-width: 641px) {
    img {
      width: 110%
    }
  }
</style>

{% endblock %}