{% extends "layouts/main.html" %}

{% block pageTitle %}
Parabemisia myricae - Check plant health information and import rules — GOV.UK
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<!-- ******************* This is Unregulated Pest  ******************* -->


 <!-- ************  For referrence only ************** -->
 <p style="color: deeppink;">***** FYI only, Not actual part of design -  This scenario is Unregulated Pest *****</p>

 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
      Pest or disease
    </span>
    <h1 class="govuk-heading-xl">
      Parabemisia myricae
    </h1>

    <!-- <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must <a class="govuk-link"
        href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/">report any
        suspicions</a> of Parabemisia myricae
      </strong>

    </div> -->

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
      Preferred name
    </h2>
    <ul class="govuk-list">
      <li>
        Parabemisia myricae
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
      Common names
    </h2>
    <ul class="govuk-list">
      <li>
        Japanese bayberry whitefly	
      </li>
    </ul>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
      Synonyms
    </h2>
    <ul class="govuk-list">
      <li>
        Bemisia myricae
      </li>
    </ul>

    <!--<div class="govuk-grid-row govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-half govuk-body">
        <a href="https://gd.eppo.int/taxon/XYLEFA/" rel="noreferrer noopener" target="_blank">
          <img src="/public/XYLEFA_1791.jpg" alt="View plant pest factsheet on Xylella fastidiosa (PDF)">
        </a>
      </div>
   
    </div>-->
    <div class="govuk-inset-text">
      There are no photos of Parabemisia myricae to view in the EPPO Global Database.
    </div>
    
    <h2 class="govuk-heading-l">
      Plant health publications about Anoplophora glabripennis
    </h2>
    <p class="'govuk-body">These files may not be suitable for users of assistive technology.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Request an accessible format
        </span>
      </summary>
      <div class="govuk-details__text">
        If you use assistive technology (such as a screen reader) and need a version of this document in a more
        accessible format, please email plantpestsrisks@defra.gov.uk. Please tell us what format you need. It
        will help us if you say what assistive technology you use. 
      </div>
    </details>
    <!-- <caption class="govuk-table__caption govuk-table__caption--s">Factsheet</caption> -->
    <h3 class="govuk-heading-m">Factsheet</h3>
    <table class="govuk-table">
     
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Title</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Mar 2023</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/factsheets/anolgl_fact_sheet.pdf">Factsheet - document name 1<span class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">October 2020</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" 
              href="/public/factsheets/anolgl_fact_sheet.pdf">Factsheet - document name 2<span class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF)</td>
        </tr>
        
      </tbody>
    </table>

    


    <!-- **************  OTHER PUBLICATION SECTION STARTS HERE *************** -->

    

    <h2 class="govuk-heading-l">
      Plants known to carry Parabemisia myricae
    </h2>


<!--PLANT LIST-->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Scientific name</th>
      <th scope="col" class="govuk-table__header">Common names</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    
    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Eriobotrya japonica</td>
      <td class="govuk-table__cell">Japanese medlar, 
        loquat</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Ficus carica</td>
      <td class="govuk-table__cell">common fig, 
        fig</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Fortunella</td>
      <td class="govuk-table__cell">large round kumquat, 
        meiwa kumquat, 
        sweet kinkan, 
        sweet kumquat</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Gardenia jasminoides</td>
      <td class="govuk-table__cell">Cape jasmine, 
        Cape jessamine, 
        common gardenia, 
        gardenia</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hibiscus</td>
      <td class="govuk-table__cell">false roselle, 
        redleaf hibiscus</td>
      </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Morus alba</td>
      <td class="govuk-table__cell">silkworm mulberry, 
        white mulberry</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Myrica rubra</td>
      <td class="govuk-table__cell">Chinese bayberry, 
        Chinese strawberry tree, 
        Japanese bayberry, 
        red bayberry, 
        yumberry</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Persea americana</td>
      <td class="govuk-table__cell">alligator pear, 
        avocado, 
        avocado pear, 
        holly ghost pear</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poncirus</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Poncirus trifoliata</td>
      <td class="govuk-table__cell">golden apple, 
        hardy orange, 
        trifoliate orange</td>
    </tr>
    
    </tbody>
</table>

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {
    href: "parabemisia-myricae"
  },
  next: {
    href: "parabemisia-myricae-3"
  },
  items: [
    {
      number: 1,
      href: "parabemisia-myricae"
    },
    {
      number: 2,
      current: true,
      href: "#"
    },
    {
      number: 3,
      href: "parabemisia-myricae-3"
    }
  ]
}) }}
    
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Find another plant or pest
      </button>
      <h3 class="govuk-heading-s">Get help with this service</h3>
      <p class="govuk-body">If you have any queries or you need technical support, email <a href="mailto:planthealth.Info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
      </p>
    </form>

  </div>
</div>

<!-- <style>
  @media only screen and (max-width: 640px) {
    img {
      width: 30%
    }
  }

  @media only screen and (min-width: 641px) {
    img {
      width: 110%
    }
  }
</style> -->

{% endblock %}