{% extends "layouts/main.html" %}

{% block pageTitle %}
What pest or disease do you want to find out about? — Check plant health information and import rules — GOV.UK
{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Pest or disease information unavailable
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p>
          You cannot currently use this service to look up pests or diseases. We will add this information soon.
        </p>

        {{ govukButton({
          text: "Go back",
          href: "javascript:window.history.back()"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}


