{% extends "layouts/main.html" %}

{% block pageTitle %}
Pinus pinea - Check plant health information and import rules — GOV.UK
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Plant or plant product
    </span>
    <h1 class="govuk-heading-xl">
      Pinus thunbergia Parl.
    </h1>

   <!-- <h2 class="govuk-heading-m">
      Identity
    </h2> -->

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Preferred name
    </h3>
    <p>
      Pinus thunbergia Parl. </p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>
    <ul class="govuk-list">
      <li>
        Black pine
      </li>
      <li>
        Japanese black pine
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <p>
      None</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      EPPO code
    </h3>
    <p>
      PIUTH </p>


    
    <h2 class="govuk-heading-l govuk-!-padding-top-3">
      Importing Pinus thunbergia Parl. from Japan
    </h2>

    <h2 class="govuk-heading-m">
      Prohibition information
    </h2>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must not import Pinus thunbergia Parl. from Japan as plants for planting.
      </strong>
    </div>

    <!-- <p>
      To find out what extra checks or documentation are needed, <a class="govuk-link"
        href="/{{version}}/service/country-select">provide where you are importing from</a>.
    </p> -->



    <p class="govuk-body">
      Even with import restrictions, you may, in special cases, be able to <a class="govuk-link" href="https://www.gov.uk/guidance/moving-prohibited-plants-plant-pests-pathogens-and-soil">apply for authorisation to import your goods.</a>
    </p>
    
    <!-- *************     First small heading     ********************** -->

    <h3 class="govuk-heading-s">
      Prohibition exception
    </h3>
    
    <p class="govuk-body">The prohibition does not apply to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>naturally and artificially dwarfed plants for planting (either entirely of the species Pinus pentaphylla Sieb. & Zucc., or of Pinus pentaphylla Sieb & Zucc. grafted on a rootstock of a Pinus species other than Pinus pentaphylla Sieb. & Zucc.)
      </li>
      <li>seeds</li>
      </ul>
  <!-- *************     Second small heading     ********************** -->

  <h3 class="govuk-heading-s">
      Prohibition details
    </h3>
    
    <p class="govuk-body">There are <a class="govuk-link" href="#"> other special measures</a> that apply to naturally and artificially dwarfed plants for planting.</p>


 <!-- *************     Importing Rules    ********************** -->



    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Import rules
    </h2>
    <h3 class="govuk-heading-s">Naturally and artificially dwarfed plants for planting or seeds</h3>
    <p>To import Pinus thunbergia Parl. from Japan in the above formats, ​you will need to :</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#get-a-phytosanitary-certificate-pc">register to import</a> if you're a first-time importer
      </li>
      <li>
        get a <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#making-a-pre-notification">phytosanitary certificate from the National Plant Protection Organisation of the exporting country</a>
      </li>
      <li>
        meet the <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#making-a-pre-notification">ISPM 15 international standard</a> for any wood packaging material you use
      </li>
      <li>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/">notify the relevant authorities about your import</a>
      </li>
      <li>
        comply with documentary, <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">identity and physical checks</a> at the border
      </li>
      <li>
        pay fees, which will include <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">plant health checks</a>
      </li>
    </ul>
    <div class="govuk-inset-text">
      The phytosanitary certificate may need an additional declaration. To find out, <a class="govuk-link"
        rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/requirement-for-additional-declarations-ads-on-phytosanitary-certificate-pcs/">check the additional declaration tool.</a>
    </div>

    



    <!-- <h2 class="govuk-heading-m">
      Pests and diseases you must report
    </h2> -->
    <h2 class="govuk-heading-l govuk-!-padding-top-3">
      Pests and diseases you must report
    </h2>
    <!--<p class="govuk-body-l">TEST</p>-->
    <p class="govuk-body">Different formats of Pinus thunbergia Parl might carry the pests or diseases from Japan listed at the bottom of the page. These pests and diseases are considered a risk to Great Britain's agriculture, horticulture, wildlife or forestry. If one of these pests or diseases is found during plant health inspections, action will be taken. This could result in consignments being delayed or destroyed.
      </p>
    <p class="govuk-body">You must <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/contact-apha#plant-health-reports-and-other-queries">report any suspicions of these pests or diseases to the relevant authority.
      </a></p>
    <!-- <p class="govuk-body">You can <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/non-compliance/">find out how often inspections at the border have resulted in the destruction of goods (opens in a new tab).
      </a></p> -->


  
   

   

    
  <!--COPY BACK THE CODE HERE if prohibited vs unprohibited separate content logic doesn't work-->
 
  

  
  <table class="govuk-table">
    <!--<caption class="govuk-table__caption govuk-table__caption--s">High priority pest</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Scientific name</th>
        <th scope="col" class="govuk-table__header">Common names</th>
        <th scope="col" class="govuk-table__header">Affected formats of Pinus thunbergia Parl.</th>
        
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Dendrolimus sibiricus</td>
        <td class="govuk-table__cell">Siberian lasiocampid, larch caterpillar, Siberian conifer silk moth, Siberian
          lappet moth, Siberian moth, Siberian silk moth</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Ips amitinus</td>
        <td class="govuk-table__cell">Eight-toothed spruce bark beetle, Small spruce bark beetle</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Ips hauseri</td>
        <td class="govuk-table__cell">Hauser's engraver, Kyrgyz mountain engraver</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell"><a class="govuk-link" href="/{{version}}/pests/ips-typographus">Ips typographus</a>
        </td>
        <td class="govuk-table__cell">Eight-spined engraver, Eight-toothed spruce bark beetle, Larger eight-toothed
          European spruce bark beetle, Spruce bark beetle</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">

        <td class="govuk-table__cell">Lecanosticta acicola</td>
        <td class="govuk-table__cell">Brown spot of pine, Needle blight of pine</th>  
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Monochamus galloprovincialis</td>
        <td class="govuk-table__cell">black pine sawyer beetle, Pine sawyer</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">

        <td class="govuk-table__cell">Monochamus urossovii</td>
        <td class="govuk-table__cell">black fir sawyer, black fir swayer, White mottled sawyer</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
<tr class="govuk-table__row">
      
      <td class="govuk-table__cell">Pissodes nemorensis</td>
      <td class="govuk-table__cell">Deodar weevil, Northern pine weevil</td>
      <td class="govuk-table__cell">All formats</td>
    </tr>
    </table>



    <br>
    <br>
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button" >
        Find another plant or pest
      </button>
      <p class="govuk-heading-s">Get help with this service</p>
      <p class="govuk-body">If you have any queries or you need technical support, email <a href="mailto:planthealth.Info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
      </p>
    </form>
  </div>
</div>

{% endblock %}