{% extends "layouts/main.html" %}

{% block pageTitle %}
Pinus pentaphylla
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      Plant or plant product
    </span>    <h1 class="govuk-heading-xl">
      Pinus pentaphylla </h1>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>

    <ul class="govuk-list">
      <li>
        None
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <ul class="govuk-list">
      <li>
        None
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      EPPO code
    </h3>
    <p>PIUPP</p>




<!--FIRST IF STATEMENT AFTER DEFAULT COUNTRY-->


<!-- <h2 class="govuk-heading-l"> -->
<h2 class="govuk-heading-m govuk-!-padding-top-3">
 Importing {{data['plantName']}} from {{data['country']}}
</h2>

<h3 class="govuk-heading-s" >
  Plants for planting
</h3>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You must not import {{data['plantName']}} from {{data['country']}} in the above format unless they are:
    <ul class="govuk-list--bullet">
      <li>bonsai</li>
      <li>invitro material</li>
      <li>1 to 3 year old bare-rooted, dormant, without leaves, grafted or budded plants for planting</li>
      <li>seeds</li>
    </ul> 
  </strong>
</div>
<!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->
<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
<!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--visible"> -->

<p class="govuk-body">Despite import restrictions, you may be able to <a class='govuk-link' href="#"> apply for authorisation to import your plant or plant product.</a></p>

<h3 class='govuk-heading-s'>Bonsai, invitro material or 1 to 3 year old bare-rooted, dormant, without leaves, grafted or budded plants for planting</h3>

<p>To import {{data['plantName']}} from {{data['country']}} in the above formats, you will need to (the following links open in a new tab):</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="#">register to import</a> if you're importing for the first time
      </li>
      <li>
        get a <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="#">phytosanitary certificate from your exporter</a>
      </li>
      <li>
        meet the <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="#">ISPM 15 international standard</a> for any wood packaging material you use
      </li>
      <li>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">notify the relevant authorities about your import</a>
      </li>
      <li>
        comply with documentary, <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">identity and physical checks</a> at the border
      </li>
      <li>
       pay <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">fees for plant health checks</a>
      </li>
    </ul>
    <div class="govuk-inset-text">
      You may need to include an additional declaration on the phytosanitary certificate. To find out,  <a class="govuk-link"
        rel="noreferrer noopener" target="_blank"
        href="#">check the additional declaration tool (opens in a new tab).</a>
    </div>

    <h3 class="govuk-heading-s" >
      Seeds  
    </h3>
    
    <p>To import {{data['plantName']}} from {{data['country']}} in the above format, you will need to (the following links open in a new tab):</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            get a <a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">phytosanitary certificate from your exporter</a>
          </li>
          <li>
            meet the <a class="govuk-link" rel="noreferrer noopener" target="_blank"
            href="#">ISPM 15 international standard</a> for any wood packaging material you use
          </li>
          
        </ul>
        <div class="govuk-inset-text">
          You may need to include an additional declaration on the phytosanitary certificate. To find out,  <a class="govuk-link"
            rel="noreferrer noopener" target="_blank"
            href="#">check the additional declaration tool (opens in a new tab).</a>
        </div>

        <h2 class="govuk-heading-m govuk-!-padding-top-3">
        Pests and diseases you must report
      </h2>
      <p class="govuk-body">Different formats of {{data['plantName']}} might carry the pests or diseases from {{data['country']}} listed at the bottom of the page.
        These pests and diseases are considered a risk to Great Britain's agriculture, horticulture or wildlife. If one of these pests or diseases is found during plant health inspections, action will be taken. This could result in consignments being delayed or destroyed.
        </p>
      <p class="govuk-body">You must <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="#">report any suspicions of
          these pests or diseases to the relevant authority</a></p>
      <p class="govuk-body">You can <a class="govuk-link"
            href="#">find out how often inspections at the border have resulted in the destruction of goods (opens in a new tab).</a></p>
  
            <!-- <table class="govuk-table"> -->
              <!--<caption class="govuk-table__caption govuk-table__caption--s">High priority pest</caption> -->
              <!-- <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Scientific name</th>
                  <th scope="col" class="govuk-table__header">Common names</th>
                  <th scope="col" class="govuk-table__header">Affected formats of {{data['plantName']}}</th>
                  
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                
                <tr class="govuk-table__row">
                  
                  <td class="govuk-table__cell">Dendrolimus sibiricus</td>
                  <td class="govuk-table__cell">Siberian lasiocampid, larch caterpillar, Siberian conifer silk moth, Siberian
                    lappet moth, Siberian moth, Siberian silk moth</td>
                  <td class="govuk-table__cell">All formats</td>
                </tr>
                <tr class="govuk-table__row">
                  
                  <td class="govuk-table__cell">Ips amitinus</td>
                  <td class="govuk-table__cell">Eight-toothed spruce bark beetle, Small spruce bark beetle</td>
                  <td class="govuk-table__cell">All formats</td>
                </tr>
                <tr class="govuk-table__row">
                  
                  <td class="govuk-table__cell">Ips hauseri</td>
                  <td class="govuk-table__cell">Hauser's engraver, Kyrgyz mountain engraver</td>
                  <td class="govuk-table__cell">All formats</td>
                </tr>
                <tr class="govuk-table__row">
                  
                  <td class="govuk-table__cell">Ips typographus</td>
                  <td class="govuk-table__cell">Eight-spined engraver, Eight-toothed spruce bark beetle, Larger eight-toothed
                    European spruce bark beetle, Spruce bark beetle</td>
                  <td class="govuk-table__cell">All formats</td>
                </tr>
                <tr class="govuk-table__row">
          
                  <td class="govuk-table__cell">Lecanosticta acicola</td>
                  <td class="govuk-table__cell">Brown spot of pine, Needle blight of pine</th>  
                  <td class="govuk-table__cell">All formats</td>
                </tr>
                <tr class="govuk-table__row">
                  
                  <td class="govuk-table__cell">Monochamus galloprovincialis</td>
                  <td class="govuk-table__cell">black pine sawyer beetle, Pine sawyer</td>
                  <td class="govuk-table__cell">All formats</td>
                </tr>
                <tr class="govuk-table__row">
          
                  <td class="govuk-table__cell">Monochamus urossovii</td>
                  <td class="govuk-table__cell">black fir sawyer, black fir swayer, White mottled sawyer</td>
                  <td class="govuk-table__cell">All formats</td>
                </tr>
          <tr class="govuk-table__row">
                
                <td class="govuk-table__cell">Pissodes nemorensis</td>
                <td class="govuk-table__cell">Deodar weevil, Northern pine weevil</td>
                <td class="govuk-table__cell">All formats</td>
              </tr>
              </table> -->






<!-- <div class="moj-scrollable-pane">
 
  <div class="moj-scrollable-pane__wrapper">

    <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-4">

    <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
      Download as PDF
</a>

    <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item " data-module="govuk-button">
      Download as XML
</a>

    <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item " data-module="govuk-button">
      Download as CSV
</a>

    <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item " data-module="govuk-button">
      Download as ASV
</a>

    </div>
</div> -->


<!--TABLE START-->

<!-- Code below is for select all 'Checkbox'-->
<!--<div data-module="moj-multi-select" data-multi-select-checkbox="#select-all">-->
  <table class="govuk-table" data-module="moj-sortable-table" >

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
  
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Scientific name</th>
  
        <th scope="col" class="govuk-table__header" aria-sort="none">Common names</th>
  
        <th scope="col" class="govuk-table__header" aria-sort="none">Affected formats of Pinus pentaphylla</th>
  
      </tr>
    </thead>
  
    <tbody class="govuk-table__body">
  
   <!-- Page 1 Data 
    ********************-->
      
 <!-- <tr class="govuk-table__row">
  <td class="govuk-table__cell">Acanthonevra dunlopi</td>
  <td class="govuk-table__cell">Acanthonevra dunlopi</td>
  <td class="govuk-table__cell">leaves</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Acidiella kagoshimensis</td>
  <td class="govuk-table__cell">Acidiella kagoshimensis</td>
  <td class="govuk-table__cell">leaves</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Acidoxantha bombacis</td>
  <td class="govuk-table__cell">Acidoxantha bombacis</td>
  <td class="govuk-table__cell">Cut flowers</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Acleris issikii</td>
  <td class="govuk-table__cell">Acleris issikii</td>
  <td class="govuk-table__cell">tubers</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Acleris nishidai</td>
  <td class="govuk-table__cell">Acleris nishidai</td>
  <td class="govuk-table__cell">tubers</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Anoplophora chinensis</td>
  <td class="govuk-table__cell">Black and white longhorn, Citrus longhorn, Citrus longhorn beetle, Citrus root
    cerambycid</td>
  <td class="govuk-table__cell">Seeds</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Bursaphelenchus xylophilus</td>
  <td class="govuk-table__cell">Pine wilt disease, Pine wood nematode</td>
  <td class="govuk-table__cell">Seeds</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Coleosporium phellodendri</td>
  <td class="govuk-table__cell">pine needle rust</td>
  <td class="govuk-table__cell">Isolated bark</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Colletotrichum acutatum</td>
  <td class="govuk-table__cell">Anthracnose of strawberry, Black spot of strawberry, Crown rot of anemone, Leaf
    curl of anemone, Leaf curl of celery, Terminal crook disease of pine</td>
  <td class="govuk-table__cell">Grain</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Cronartium kamtschaticum</td>
  <td class="govuk-table__cell">Japanese rust of white pine, japanese white pine rust</td>
  <td class="govuk-table__cell">Seeds</td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">Cronartium quercuum</td>
  <td class="govuk-table__cell">Eastern gall rust, eastern gall rust of pine, eastern pine gall rust</td>
  <td class="govuk-table__cell">Seeds</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Dendrolimus sibiricus</td>
  <td class="govuk-table__cell">Siberian lasiocampid, larch caterpillar, Siberian conifer silk moth, Siberian
    lappet moth, Siberian moth, Siberian silk moth</td>
  <td class="govuk-table__cell" data-sort-value="All formats">All formats</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Dendrolimus spectabilis</td>
  <td class="govuk-table__cell">Japanese pine caterpillar, Pine caterpillar, Pine moth</td>
  <td class="govuk-table__cell">Isolated bark</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Dothistroma pini</td>
  <td class="govuk-table__cell">North American red-band needle blight</td>
  <td class="govuk-table__cell">Grain</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Dothistroma septosporum</td>
  <td class="govuk-table__cell">Dothistroma needle blight, Red band needle blight</td>
  <td class="govuk-table__cell">Stem</td>
</tr> -->

<!-- Page 2 Data 
******************** 
-->


      <tr class="govuk-table__row">
  <td class="govuk-table__cell">Fusarium circinatum</td>
  <td class="govuk-table__cell">Pitch canker of pine</td>
  <td class="govuk-table__cell">Seeds</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Ips amitinus</td>
  <td class="govuk-table__cell">Eight-toothed spruce bark beetle, Small spruce bark beetle</td>
  <td class="govuk-table__cell" data-sort-value="All formats">All formats</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Ips hauseri</td>
  <td class="govuk-table__cell">Hauser's engraver, Kyrgyz mountain engraver</td>
  <td class="govuk-table__cell" data-sort-value="Grain">Grain</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Ips typographus</td>
  <td class="govuk-table__cell">Eight-spined engraver, Eight-toothed spruce bark beetle, Larger eight-toothed
    European spruce bark beetle, Spruce bark beetle</td>
  <td class="govuk-table__cell" data-sort-value="All formats">All formats</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Lecanosticta acicola</td>
  <td class="govuk-table__cell">Brown spot of pine, Needle blight of pine</th>
  <td class="govuk-table__cell" data-sort-value="Stem">Stem</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Melampsora medusae</td>
  <td class="govuk-table__cell">Conifer/poplar rust, Leaf rust of poplar, Poplar rust</td>
  <td class="govuk-table__cell">Seeds</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Monochamus galloprovincialis</td>
  <td class="govuk-table__cell">black pine sawyer beetle, Pine sawyer</td>
  <td class="govuk-table__cell" data-sort-value="Bark">Bark</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Monochamus urossovii</td>
  <td class="govuk-table__cell">black fir sawyer, black fir swayer, White mottled sawyer</td>
  <td class="govuk-table__cell" data-sort-value="All formats">All formats</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Monochamus alternatus</td>
  <td class="govuk-table__cell">Japanese pine sawyer, Pine sawyer, Japanese</td>
  <td class="govuk-table__cell" data-sort-value="Seeds">Seeds</td>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Pissodes nemorensis</td>
  <td class="govuk-table__cell">Deodar weevil, Northern pine weevil</td>
  <td class="govuk-table__cell" data-sort-value="Seeds">Seeds</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Pissodes nitidus</td>
  <td class="govuk-table__cell">Yellow spotted pine weevil</td>
  <td class="govuk-table__cell">Seeds</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Thaumetopoea pinivora</td>
  <td class="govuk-table__cell">Eastern pine processionary moth, Northern pine processionary moth</td>
  <td class="govuk-table__cell">Fruits</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Thaumetopoea pityocampa</td>
  <td class="govuk-table__cell">Pine processionary caterpillar, Pine processionary moth</td>
  <td class="govuk-table__cell">All formats</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Thecodiplosis japonensis</td>
  <td class="govuk-table__cell">Japanese pine needle gall midge, Pine needle gall midge</td>
  <td class="govuk-table__cell">All formats</td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Xylella fastidiosa</td>
  <td class="govuk-table__cell">Alfalfa dwarf, Anaheim disease, California vine disease, Dwarf disease of
    alfalfa, Dwarf disease of lucerne, Leaf scald of oleander, Leaf scald of plum, Leaf scorch, Phony disease of
    peach, Pierce's disease of grapevine, Variegated chlorosis of citrus</td>
  <td class="govuk-table__cell">Bulb</td>
</tr>










      <!-- *******
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Denali</td>
  
        <td class="govuk-table__cell" data-sort-value="6194">6,194 meters</td>
  
        <td class="govuk-table__cell">North America</td>
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1913">1913</td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Elbrus</td>
  
        <td class="govuk-table__cell" data-sort-value="5642">5,642 meters</td>
  
        <td class="govuk-table__cell">Europe</td>
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1874">1874</td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Everest</td>
  
        <td class="govuk-table__cell" data-sort-value="8850">8,850 meters</td>
  
        <td class="govuk-table__cell">Asia</td>
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1953">1953</td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Kilimanjaro</td>
  
        <td class="govuk-table__cell" data-sort-value="5895">5,895 meters</td>
  
        <td class="govuk-table__cell">Africa</td>
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1889">1889</td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Puncak Jaya</td>
  
        <td class="govuk-table__cell" data-sort-value="4884">4,884 meters</td>
  
        <td class="govuk-table__cell">Australia</td>
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1962">1962</td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Vinson</td>
  
        <td class="govuk-table__cell" data-sort-value="4897">4,897 meters</td>
  
        <td class="govuk-table__cell">Antarctica</td>
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1966">1966</td>
  
      </tr> -->
  
    </tbody>
  </table>
  



<!--TABLE END-->

<!-- <form method="post" novalidate="" action="#">


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
Do you need to add another user?
</legend>
<div id="add-another-hint" class="govuk-hint">
You must tell us about all your users.
</div>
<div class="govuk-radios govuk-radios--inline">
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
<label class="govuk-label govuk-radios__label" for="add-another">
    Yes
</label>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
<label class="govuk-label govuk-radios__label" for="add-another-2">
    No
</label>
</div>
</div>

</fieldset>
</div>-->

<!--<div>
<a class="govuk-link" href="#">See previous schedules</a>
</div>-->

    <!--<button class="govuk-button" data-module="govuk-button">
    Continue
</button>
</form> -->

<!-- <div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden">Sort by Last downloaded (descending)</div></div> -->



<!--PAGINATION COMPONENT-->

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {
    href: "sort-pagination-table-1"
  },
  next: {
    href: ""
  },
  items: [
    {
      number: 1,
      current: false,
      href: "sort-pagination-table-1"
    },
    {
      number: 2,
      current: true,
      href: "#"
    }
  ]
}) }}

   <br>
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button" >
        Find another plant or pest
      </button>
      <p class="govuk-heading-s">Get help with this service</p>
      <p class="govuk-body">If you have any queries or you need technical support, email <a href="mailto:planthealth.Info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
      </p>
    </form>
  </div>
</div>

{% endblock %}