{% extends "layouts/main.html" %}

{% block pageTitle %}
This service does not include import and plant health information for Northern Ireland
{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      This service does not include import and plant health information for Northern Ireland
    </h1>

    <p>
      There are different plant health controls for Northern Ireland and Great Britain. You can <a
        href="https://www.daera-ni.gov.uk/articles/import-and-export-plants">view
        import requirements for plants and plant products for Northern Ireland.</a>
    </p>
    
    <p class="govuk-heading-s">Get help with this service</p>
    <p class="govuk-body">If you have any queries or you need technical support, email <a href="mailto:planthealth.Info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
    </p>

  </div>
</div>

{% endblock %}