{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-l">
    Plant Health Information Prototype
    <span class="govuk-caption-xl">Version 2 - Baselined</span>
  </h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#service">
          Plant Health Information Service
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#quick-links">
          Quick links
        </a>
      </li>
    </ul>

    <div class="govuk-tabs__panel" id="service">
      <h2 class="govuk-heading-s">Changelog</h2>
      <p class="govuk-body"></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Content updates to the GOV.UK start page including service name
        </li>
        <li>Added plant name to "do-you-import" page to reduce cognitive load
        </li>
        <li>Changed United Kingdom to UK throughout
        </li>
        <li>Updated H1 on country-select - pattern
        </li>
        <li>Updates to plant and pest page templates (see v2 content document for changes)
        </li>
        <li>Increased search result options and countries
        </li>
        <li>Added partially blank GOV.UK start page for testing
        </li>
        <li>Version 2 baselined 16 November
        </li>
      
      </ul>

      <br>


      <a href="/v2/govuk/plant-health-information-ur-test" class="govuk-button govuk-!-margin-right-2"
        data-module="govuk-button">
        <strong>Quick start</strong>
      </a>

    </div>


    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="quick-links">

      <h3 class="govuk-heading-s">V2 quick links (opens in new tab)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/public/userFlows/V1-userflow.png" download class="govuk-link" rel="noreferrer noopener" target="_blank">E2E flow diagram</a>
        </li>
        <li>
          <a href="https://eaflood.atlassian.net/wiki/spaces/PBHTPPHI/pages/4573626404/Version+2" class="govuk-link" target="_blank">Content document</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}