{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-l">
    Plant Health Information Prototype
    <span class="govuk-caption-xl">Version 5 - In design</span>
  </h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#service">
          Plant Health Information Service
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#document-links">
          Document links
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#page-links">
          Page links
        </a>
      </li>
    </ul>

    <div class="govuk-tabs__panel" id="service">
      <h2 class="govuk-heading-s">Changelog</h2>
      <p class="govuk-body"></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
        </li>

      </ul>

      <br>


      <a href="/v4/govuk/plant-health-information-start" class="govuk-button govuk-!-margin-right-2"
        data-module="govuk-button">
        <strong>Quick start</strong>
      </a>

    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="document-links">

      <h3 class="govuk-heading-s">V5 quick links (opens in new tab)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/public/userFlows/V5-userflow.png" download class="govuk-link" rel="noreferrer noopener"
            target="_blank">E2E flow diagram</a>
        </li>
        <li>
          <a href="" class="govuk-link"
            target="_blank">Content document</a>
        </li>
      </ul>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="page-links">

      <h3 class="govuk-heading-s">V5 Handoffs (opens in new tab)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v4/service/handoffs/service-unavailable" class="govuk-link" rel="noreferrer noopener"
            target="_blank">Service unavailable</a>
        </li>
        <li>
          <a href="/v4/service/handoffs/northern-ireland" class="govuk-link" rel="noreferrer noopener"
            target="_blank">Northern Ireland handoff</a>
        </li>
        
      </ul>

      <h3 class="govuk-heading-s">V5 Limited data scenarios (opens in new tab)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v4/service/limitedData/plants" class="govuk-link" rel="noreferrer noopener"
            target="_blank">Plants</a>
        </li>
        <li>
          <a href="/v4/service/limitedData/pests" class="govuk-link" rel="noreferrer noopener"
            target="_blank">Pests</a>
        </li>
        
      </ul>
    </div>
  </div>
</div>
{% endblock %}