{% block content %}

<!--Heading-->
<div class="govuk-grid-row">
  <h1 class="govuk-heading-l">
    Plant Health Information Prototype
    <span class="govuk-caption-xl">Version 6 - Private Beta Cycle 1 UR updates</span>
  </h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>

    <!--Tabs Name-->
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#service">
          Plant Health Information Service
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#document-links">
          Document links
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#page-links">
          Page links
        </a>
      </li>
    </ul>

    <!--First tab details-->
    <div class="govuk-tabs__panel" id="service">
      <h2 class="govuk-heading-s">Changelog</h2>
      <p class="govuk-body"></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>This updated version highlights the significant improvements we've made as a direct result of our User Research (UR) sessions (conducted in June 2024) with our users, demonstrating our commitment to incorporating user feedback and insights into our design process.
          </li>
         <li>Newly updated content has been added across all steps.</li>
        <li>New heading structure/hierarchy has been added to all the pages to make sure we met the accessibility criteria.</li>
        <li>Factsheet section has been updated to remove the icon/image used previously.</li>
        <li>Previously agreed pagination has been incorporated in the actual pages.</li>
        <li>User research notes from cycle 1-private beta is available now. </li>
        <!-- <li>Help section has been added to every page.</li> -->
      </ul>

      <br>


      <a href="/v6/govuk/plant-health-information-start" class="govuk-button govuk-!-margin-right-2"
        data-module="govuk-button">
        <strong>Quick start</strong>
      </a>

    </div>

    <!--Second Tab details-->

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="document-links">

      <h3 class="govuk-heading-s">V6 quick links (opens in new tab)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/public/userFlows/PHI_V5_UserFlow.png" class="govuk-link" rel="noreferrer noopener"
          target="_blank">E2E flow diagram</a>
        </li>
        <li>
          <a href="https://defra.sharepoint.com/:p:/r/teams/Team1257/PH%20IT%20%20Internal/Service/Plant%20Health%20Information/03%20-%20Beta/Content%20design/Plant%20%26%20pests%20details/Content%20improvements%20(May%20-%20June%202024).pptx?d=w5947e92d9c2f48498170076894416dae&csf=1&web=1&e=apWMcy" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Content document</a>
        </li>
        <li>
          <a href="/public/userFlows/PHI-IA.pdf" class="govuk-link" rel="noreferrer noopener"
          target="_blank">Information Architecture</a>
        </li>
        <li>
          <a href="/public/userFlows/PHI-UR-Cycle1.pdf" class="govuk-link" rel="noreferrer noopener"
          target="_blank">User Research (Pvt. Beta) Cycle 1</a>
        </li>
      </ul>
    </div>

    <!--Third Tab details-->

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="page-links">

      <!-- <h3 class="govuk-heading-s">V6 Handoffs (opens in new tab)</h3> -->
      <!-- <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v4/service/handoffs/service-unavailable" class="govuk-link" rel="noreferrer noopener"
            target="_blank">Service unavailable</a>
        </li>
        
        
      </ul> -->
      <h3 class="govuk-heading-s">V6 To be tested scenarios</h3>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li>
          <a href="/v5/service/limitedData/Overflow-data-handling_original" class="govuk-link">Plant/pest overflow list (original)</a>
        </li>
        <li>
          <a href="/v5/service/limitedData/Overflow-data-handling_new" class="govuk-link">Plant/pest overflow list (new)</a>
        </li>
        <li>
          <a href="/v5/service/limitedData/data-list-table-original" class="govuk-link">Table style (original)</a>
        </li>
        <li>
          <a href="/v5/service/limitedData/data-list-table-1" class="govuk-link">Table style (new)</a>
        </li>
        <li>
          <a href="/v4/service/limitedData/plants" class="govuk-link">Plants</a>
        </li>
        <li>
          <a href="/v4/service/limitedData/pests" class="govuk-link">Pests</a>
        </li>
        <li>
          <a href="/v5/service/limitedData/sort-pagination-table-1" class="govuk-link">Sort table</a>
        </li> -->
        <li>
          <a href="/v6/service/limitedData/new-content-2" class="govuk-link">New Heading Structure</a>
        </li>
        <li>
          <a href="/v6/service/limitedData/factsheet-style" class="govuk-link">Factsheet example V1</a>
        </li>
        <li>
          <a href="/v6/service/limitedData/factsheet-style-v2" class="govuk-link">Factsheet example V2</a>
        </li>
        <!-- <li>
          <a href="/v5/service/limitedData/sort-pagination-filter-table" class="govuk-link">Sort table with filter</a>
        </li> -->
        
      </ul>
    </div>
  </div>
</div>
{% endblock %}