{% extends "layouts/main.html" %}

{% block pageTitle %}
Search for a plant, pest or disease
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
      data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#searchQuery">Enter the name of a plant, pest or disease</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    <form class="form" method="post">
      <div class="govuk-form-group {% if error %} govuk-form-group--error {% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="search-h1">
              Search for a plant, pest or disease
            </h1>
          </legend>

          {% if error %}
          <span id="search-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the name of a plant, pest or disease
          </span>
          {% endif %}
          {{ xGovukAutocomplete({
          id: "searchQuery",
          name: "searchQuery",
          allowEmpty: false,
          showNoOptionsFound: true,
          classes: "govuk-!-width-full",
          items: [
          { "text": "Acleris minuta (lesser apple leaf-folder, yellow-headed fireworm)" },
          { "text": "Acalypha hispida (Chenille Plant)" },
          { "text": "Achillea millefolium (Common Yarrow)" },
          { "text": "Acleris gloveranus (Western black-headed budworm)" },
          { "text": "Acleris nivisellana (apple leaf twister, snowy-shouldered Acleris Moth)" },
          { "text": "Acleris robinsoniana (Robinson's acleris moth)" },
          { "text": "Acleris semipurpurana (Oak Leafshredder Moth, Oak Leaftier Moth)" },
          { "text": "Acleris variana (Eastern black headed budworm, Hemlock budworm)" },
          { "text": "Acrobasis pirivorella (Pear driller, Pear fruit moth)" },
          { "text": "Aculops fuchsiae (Fuchsia gall mite)" },
          { "text": "Aeolesthes sarta (Apple stem borer, city longhorn beetle, Sart longhorn beetle, The Quetta Borer, town longhorn beetle, Uzbek longhorn beetle)" },
          { "text": "Agrilus anxius (Bronze birch borer)" },
          { "text": "Agrilus auroguttatus (Goldspotted oak borer)" },
          { "text": "Agrilus bilineatus (Two-lined chestnut borer)" },
          { "text": "Agrilus horni (Aspen root grinder)" },
          { "text": "Agrilus mali (Apple buprestid)" },
          { "text": "Agrilus planipennis (Emerald Ash Borer)" },
          { "text": "Akebia quinata (Chocolate Vine)" },
          { "text": "Albizia julibrissin (Mimosa Tree)" },
          { "text": "Aleurocanthus spiniferus (Citrus, mealywing, Orange spiny whitefly, Spiny blackfly, Whitefly, citrus spiny, Whitefly, orange spiny)" },
          { "text": "Aleurodicus dispersus (Spiralling white fly)" },
          { "text": "Allium ampeloprasum (Leek)" },
          { "text": "Allium cepa (Onion)" },
          { "text": "Allium chinense" },
          { "text": "Allium sativum (Garlic)" },
          { "text": "Allium schoenoprasum (Chives)" },
          { "text": "Alnus firma" },
          { "text": "Alnus japonica" },
          { "text": "Alnus rubra (Red Alder)" },
          { "text": "Alternaria mali (Alternaria blotch of apple, Cork spot of apple, Leaf spot of apple, Storage rot of apple)" },
          { "text": "Amaranthus retroflexus (Redroot Pigweed)" },
          { "text": "Amaranthus" },
          { "text": "Amaryllis belladonna (Lily)" },
          { "text": "American plum line pattern virus (American line pattern of plum, American plum line pattern, Banded chlorosis of oriental flowering cherry)" },
          { "text": "Anacardium occidentale (Cashew)" },
          { "text": "Andean potato mottle virus (Andean mottle of potato)" },
          { "text": "Anisogramma anomala (Blight of hazel, Eastern blight of filbert, Eastern filbert blight)" },
          { "text": "Anoplophora chinensis (Black and white longhorn, Citrus longhorn, Citrus longhorn beetle, Citrus root cerambycid)" },
          { "text": "Anoplophora glabripennis (Asian longhorn beetle, Starry sky beetle)" },
          { "text": "Anthonomus bisignifer (Japanese strawberry blossom weevil)" },
          { "text": "Anthonomus eugenii (Pepper weevil)" },
          { "text": "Anthonomus quadrigibbus (Apple curculio, large apple curculio, Western curculio)" },
          { "text": "Anthonomus signatus (Strawberry Bud Weevil)" },
          { "text": "Aonidiella orientalis (Oriental scale, Oriental yellow scale)" },
          { "text": "Aphelenchoides besseyi (Rice leaf nematode, Strawberry crimp disease nematode, White tip nematode, White tip nematode of rice)" },
          { "text": "Apiosporina morbosa (Black knot of cherry, Black knot of plum, Black knot of prunus, Black knot of stone fruits)" },
          { "text": "Apium graveolens (Celery)" },
          { "text": "Apriona cinerea (Apple stem borer)" },
          { "text": "Apriona germarii (Mulberry longhorn beetle)" },
          { "text": "Apriona rugicollis (Japanese mulberry longhorn beetle, Mulberry, borer)" },
          { "text": "Arabis mosaic virus (Arabis mosaic, forsythia yellow net, hop bare bine, hop split leaf blotch virus, mosaic of rhubarb, nettlehead of hop, strawberry mosaic virus, yellow dwarf of raspberry)" },
          { "text": "Aralia elata (Japanese Angelica Tree)" },
          { "text": "Arceuthobium abietinum (Fir dwarf mistletoe)" },
          { "text": "Arceuthobium americanum (Lodgepole pine dwarf mistletoe)" },
          { "text": "Arceuthobium campylopodum (Western dwarf mistletoe)" },
          { "text": "Arceuthobium douglasii (Douglas fir dwarf mistletoe)" },
          { "text": "Arceuthobium laricis (Larch dwarf mistletoe)" },
          { "text": "Arceuthobium minutissimum (Himalayan dwarf mistletoe)" },
          { "text": "Arceuthobium occidentale (Digger pine dwarf mistletoe)" },
          { "text": "Arceuthobium pusillum (Eastern dwarf mistletoe)" },
          { "text": "Arceuthobium tsugense (Hemlock dwarf mistletoe)" },
          { "text": "Arceuthobium vaginatum (Southwestern dwarf mistletoe)" },
          { "text": "Ardisia" },
          { "text": "Aromia bungii (Peach red-necked longhorn, Plum and peach longhorn, red-necked longhorn)" },
          { "text": "Arrhenodes minutus (Oak timberworm)" },
          { "text": "Artocarpus" },
          { "text": "Aschistonyx eppoi (juniper gall midge)" },
          { "text": "Asplenium" },
          { "text": "Atropellis pinicola (Branch canker of pine, Trunk canker of pine, Twig blight of pine)" },
          { "text": "Atropellis piniphila (Branch canker of pine, Trunk canker of pine, Twig blight of pine)" },
          { "text": "Atropellis tingens (Canker of pine)" },
          { "text": "Avena fatua (Wild Oat)" },
          { "text": "Bactericera cockerelli (potato psyllid, tomato psyllid)" },
          { "text": "Bactrocera latifrons (Malaysian fruit fly, Solanum fruit fly)" },
          { "text": "Bactrocera tryoni (Queensland fruit fly)" },
          { "text": "Bemisia tabaci (Cassava whitefly, Cotton whitefly, Sweet potato whitefly, Tobacco whitefly)" },
          { "text": "Betula alba (European White Birch)" },
          { "text": "Betula alleghaniensis (Yellow Birch)" },
          { "text": "Betula ermanii (Erman's Birch)" },
          { "text": "Betula jacquemontii (Himalayan Birch)" },
          { "text": "Betula lenta (Sweet Birch)" },
          { "text": "Betula maximowicziana (Monarch Birch)" },
          { "text": "Betula nigra (River Birch)" },
          { "text": "Betula occidentalis (Water Birch)" },
          { "text": "Betula papyrifera (Paper Birch)" },
          { "text": "Betula pendula (Silver Birch)" },
          { "text": "Betula platyphylla (Japanese White Birch)" },
          { "text": "Betula populifolia (Gray Birch)" },
          { "text": "Betula pubescens (Downy Birch)" },
          { "text": "Betula utilis (Himalayan Birch)" },
          { "text": "Bischofia trifoliata (Sumu)" },
          { "text": "Blueberry scorch virus (Blueberry scorch, Sheep Pen Hill Disease)" },
          { "text": "Blueberry shock virus (Blueberry necrotic shock virus)" },
          { "text": "Bombax ceiba (Red Silk Cotton Tree)" },
          { "text": "Borago officinalis (Borage)" },
          { "text": "Botryosphaeria kuwatsukai (Blister canker of pome fruits, Leaf branch and fruit disease, Physalospora canker of pome fruits, Ring rot of apple, Wart bark of apple)" },
          { "text": "Botryosphaeria laricina (Shoot blight of larch, Twig die-back of larch)" },
          { "text": "Bougainvillea" },
          { "text": "Brassica oleracea (Wild Cabbage)" },
          { "text": "Brassica oleracea var. italica (Broccoli)" },
          { "text": "Brassica rapa (Field Mustard)" },
          { "text": "Bretziella fagacearum (Oak wilt, Wilt of oak)" },
          { "text": "Briedelia (Bridelia)" },
          { "text": "Bromus inermis (Smooth Brome)" },
          { "text": "Bursaphelenchus xylophilus (Pine wilt disease, Pine wood nematode)" },
          { "text": "Cactodera cacti" },
          { "text": "Cajanus cajan (Pigeon Pea)" },
          { "text": "Callistephus chinensis (China Aster)" },
          { "text": "Calluna (Heather)" },
          { "text": "Camellia japonica (Japanese Camellia)" },
          { "text": "Camellia sasanqua" },
          { "text": "Camellia sinensis (Tea Plant)" },
          { "text": "Camellia williamsii (C. x williamsii)" },
          { "text": "Candidatus Liberibacter solanacearum (zebra chip)" },
          { "text": "Capsicum annuum (Bell Pepper)" },
          { "text": "Capsicum frutescens (Chili Pepper)" },
          { "text": "Carica papaya (Papaya)" },
          { "text": "Carneocephala fulgida (red-headed sharpshooter)" },
          { "text": "Carpinus betulus (European Hornbeam)" },
          { "text": "Carposina sasakii (Peach fruit borer, Peach fruit moth)" },
          { "text": "Celtis" },
          { "text": "Cephalcia lariciphila (European web-spinning larch sawfly)" },
          { "text": "Ceratocystis platani (Canker of sycamore, Canker stain of plane, plane wilt)" },
          { "text": "Ceratonia siliqua (Carob)" },
          { "text": "Ceratothripoides brunneus (tomato thrips)" },
          { "text": "Ceratothripoides claratris (Oriental tomato thrips)" },
          { "text": "Ceroplastes sinensis" },
          { "text": "Chamaedorea" },
          { "text": "Cherry green ring mottle virus (cherry vein yellow spot, epinasty of oriental flowering cherry, green ring mottle, rough bark of oriental flowering cherry, sour cherry constricting chlorosis, sour cherry epinasty, sour cherry green ring yellows)" },
          { "text": "Cherry leaf roll virus (black line of walnut, walnut black line, leaf roll of cherry, cherry leafroll, mosaic of ash, ash mosaic, mosaic of elm, elm mosaic, ring spot of walnut, walnut ring spot, yellow mosaic of walnut, walnut yellow mosaic)" },
          { "text": "Cherry rasp leaf virus (American cherry rasp leaf, American rasp leaf of cherry, Cherry leaf rasp (American), flat apple, rasp leaf of cherry)" },
          { "text": "Chilli veinal mottle virus (Chilli veinal mottle virus)" },
          { "text": "Chionaspis pinifoliae (Pine leaf, scale, Pine needle, scale)" },
          { "text": "Choisya (Mexican Orange)" },
          { "text": "Choristoneura biennis (two-year-cycle budworm moth)" },
          { "text": "Choristoneura conflictana (Aspen borer, Aspen tortrix, large, large aspen tortrix)" },
          { "text": "Choristoneura fumiferana (eastern spruce budworm, Spruce budworm)" },
          { "text": "Choristoneura lambertiana (Sugar pine tortrix)" },
          { "text": "Choristoneura occidentalis (Western spruce budworm)" },
          { "text": "Choristoneura orae (spruce budworm)" },
          { "text": "Choristoneura parallela (Parallel-banded Leafroller Moth, Spotted Fireworm Moth)" },
          { "text": "Choristoneura pinus pinus (Jack pine budworm (C. pinus pinus), Pitch Pine Budworm (C. pinus ssp. maritima))" },
          { "text": "Choristoneura retiniana (Green budworm, Modoc budworm)" },
          { "text": "Choristoneura rosaceana (Oblique-banded leafroller, rosaceous leaf roller)" },
          { "text": "Christella" },
          { "text": "Chrysanthemum carinatum (Chrysanthemums)" },
          { "text": "Chrysanthemum stunt viroid (Measles of chrysanthemum, Stunt of chrysanthemum)" },
          { "text": "Chrysanthemum" },
          { "text": "Chrysobothris femorata (flat-headed apple tree borer)" },
          { "text": "Chrysobothris mali (Apple tree, borer, Pacific flatheaded, Pacific flatheaded borer,, Plum and prune-Pacific flatheaded borer)" },
          { "text": "Chrysodeixis includens (Soybean looper)" },
          { "text": "Chrysomyxa arctostaphyli (Broom rust of spruce, Common yellow witches' broom rust)" },
          { "text": "Chrysophtharta bimaculata (Tasmanian eucalyptus leaf-beetle)" },
          { "text": "Cichorium intybus (Chicory)" },
          { "text": "Cinnamomum" },
          { "text": "Citrofortunella microcarpa (Calamondin)" },
          { "text": "Citroncirus" },
          { "text": "Citrus aurantifolia (Key Lime)" },
          { "text": "Citrus aurantium subsp. aurantium (Bitter Orange)" },
          { "text": "Citrus exocortis viroid (Citrus exocortis, Citrus scaly butt, Scaly butt of citrus)" },
          { "text": "Citrus hystrix (Kaffir Lime)" },
          { "text": "Citrus jambhiri (Rough Lemon)" },
          { "text": "Citrus limettioides (Sweet Lemon)" },
          { "text": "Citrus limon (Lemon)" },
          { "text": "Citrus maxima (Pomelo)" },
          { "text": "Citrus medica (Citron)" },
          { "text": "Citrus paradisi (Grapefruit)" },
          { "text": "Citrus reticulata (Mandarin Orange)" },
          { "text": "Citrus reticulata (s.l.)" },
          { "text": "Citrus sinensis (Sweet Orange)" },
          { "text": "Citrus x limonia (Rangpur Lime)" },
          { "text": "Citrus x tangelo (Tangelo)" },
          { "text": "Clausena lansium (Wampee)" },
          { "text": "Clausena" },
          { "text": "Clavibacter michiganensis subsp. michiganensis (Bacterial canker of tomato, Bird's eye of tomato fruits, Vascular wilt of tomato)" },
          { "text": "Clavibacter sepedonicus (Bacterial ring rot of potato, Potato Ring Rot, Ring rot of potato, Vascular wilt of potato)" },
          { "text": "Clematis vitalba (Old Man's Beard)" },
          { "text": "Clover phyllody phytoplasma" },
          { "text": "Coccoloba uvifera (Seagrape)" },
          { "text": "Cocos nucifera (Coconut Palm)" },
          { "text": "Cocos nucifera; Musa (Coconut Palm; Banana)" },
          { "text": "Coleosporium asterum (Needle cast: red pine, Rust: aster, Rust: Solidago spp.)" },
          { "text": "Colletotrichum acutatum (Anthracnose of strawberry, Black spot of strawberry, Crown rot of anemone, Leaf curl of anemone, Leaf curl of celery, Terminal crook disease of pine)" },
          { "text": "Columnea latent viroid (CLVd)" },
          { "text": "Conotrachelus nenuphar (American plum weevil, Curculio, plum, Plum curculio, Plum weevil)" },
          { "text": "Convolvulus arvensis (Field Bindweed)" },
          { "text": "Corylus avellana (Common Hazel)" },
          { "text": "Crisicoccus pini (Kuwana pine mealybug)" },
          { "text": "Cronartium coleosporioides (Stalactiform blister rust, Stalactiform blister rust of pine, Western gall rust of pine)" },
          { "text": "Cronartium comandrae (Comandra blister rust, Comandra blister rust of pine, Stem rust of pine)" },
          { "text": "Cronartium himalayense (Blister rust of chir pine, Chir pine blister rust)" },
          { "text": "Cronartium kamtschaticum (Japanese rust of white pine, Japanese white pine rust)" },
          { "text": "Cryphonectria parasitica (Blight of chestnut, Blight of oak, Canker of chestnut, Chestnut blight, Chestnut canker)" },
          { "text": "Cucumis melo (Cantaloupe)" },
          { "text": "Cucumis sativus (Cucumber)" },
          { "text": "Cucurbit yellow stunting disorder virus (Cucurbit yellow stunting disorder)" },
          { "text": "Cucurbita maxima (Winter Squash)" },
          { "text": "Cucurbita moschata (Butternut Squash)" },
          { "text": "Cucurbita pepo (Zucchini)" },
          { "text": "Curtobacterium flaccumfaciens pv. Poinsettiae" },
          { "text": "Cydonia oblonga (Quince)" },
          { "text": "Cynodon dactylon (Bermuda Grass)" },
          { "text": "Dacus ciliatus (cucurbit fly, Ethiopian fruit fly, Fly, lesser pumpkin, Lesser melon fly, lesser pumpkin fly)" },
          { "text": "Dacus punctatifrons (, Tomato fruit fly)" },
          { "text": "Dahlia pinnata (Dahlias)" },
          { "text": "Dahlia" },
          { "text": "Daktulosphaira vitifoliae (Grape leaf louse, Grape phylloxera, Phylloxera, Vine louse)" },
          { "text": "Daucus carota (Carrot)" },
          { "text": "Dendrocalamus asper (Giant Bamboo)" },
          { "text": "Dendrocalamus strictus (Solid Bamboo)" },
          { "text": "Dendroctonus adjunctus (Roundheaded pine beetle)" },
          { "text": "Dendroctonus brevicomis (Southwestern pine beetle, Western pine beetle)" },
          { "text": "Dendroctonus frontalis (Southern pine beetle)" },
          { "text": "Dendroctonus micans (European spruce beetle, Great spruce bark beetle, Large spruce beetle)" },
          { "text": "Dendroctonus ponderosae (Black hills beetle, Mountain pine beetle)" },
          { "text": "Dendroctonus pseudotsugae pseudotsugae (Douglas fir beetle)" },
          { "text": "Dendroctonus rufipennis (Alaska spruce beetle, Eastern spruce beetle, Engelmann spruce beetle, Red-winged pine beetle, Sitka-spruce beetle, Spruce beetle)" },
          { "text": "Dendroctonus simplex (Eastern larch beetle)" },
          { "text": "Dendrolimus spectabilis (Japanese pine caterpillar, Pine caterpillar, Pine moth)" },
          { "text": "Desmoncus" },
          { "text": "Diabrotica barberi (Northern corn rootworm)" },
          { "text": "Diabrotica undecimpunctata (Western spotted cucumber beetle)" },
          { "text": "Diabrotica undecimpunctata howardi (12-spotted cucumber beetle, Southern corn rootworm, Spotted cucumber beetle)" },
          { "text": "Diabrotica virgifera subsp. zeae (Mexican corn rootworm)" },
          { "text": "Dianthus caryophyllus (Carnations)" },
          { "text": "Dickeya dianthicola (Bacterial stunt of carnation, Bacterial wilt of carnation, Slow wilt of carnation)" },
          { "text": "Dimocarpus" },
          { "text": "Diospyros kaki (Persimmon)" },
          { "text": "Diospyros virginiana (American Persimmon)" },
          { "text": "Ditylenchus destructor (Eelworm, potato, Eelworm, potato tuber, Iris nematode, Nematode, potato rot, Potato rot nematode, Potato tuber nematode)" },
          { "text": "Ditylenchus dipsaci (Beef stem nematode, Brown ring disease of hyacynth, Bud and stem nematode, Bulb eelworm, Clover stem nematode, Nemadode, stem, Nematode, stem and bulb, Onion bloat, Onion stem nematode, Phlox stem nematode, Ring disease of bulbs, Stem and bulb eelworm, Stem and bulb nematode, Stem nematode, Tulip root nnematode)" },
          { "text": "Dothistroma pini (North American red-band needle blight)" },
          { "text": "Dothistroma septosporum (Dothistroma needle blight, Red band needle blight)" },
          { "text": "Draeculacephala minerva (grass sharpshooter)" },
          { "text": "Dryocoetes confusus (Mountain balsam bark beetle, Western balsam bark beetle)" },
          { "text": "Dryocosmus kuriphilus (oriental chestnut gall wasp)" },
          { "text": "Duponchelia fovealis (Dark Marbled Tabby, European Pepper Moth, Southern European marshland pyralid)" },
          { "text": "Echinothrips americanus" },
          { "text": "Elaeagnus" },
          { "text": "Elaeis guineensis (African Oil Palm)" },
          { "text": "Eotetranychus lewisi (Lewis spider mite)" },
          { "text": "Eotetranychus sexmaculatus (Citrus spider mite, Six spotted spider mite)" },
          { "text": "Eotetranychus sexmaculatus" },
          { "text": "Epidendrum" },
          { "text": "Epitrix cucumeris (Potato flea beetle)" },
          { "text": "Epitrix subcrinita (Western potato flea beetle)" },
          { "text": "Erysiphe euphorbiae" },
          { "text": "Erysiphe euphorbiicola" },
          { "text": "Euonymus" },
          { "text": "Euphorbia pulcherrima (Poinsettia)" },
          { "text": "Euphranta canadensis (Currant fruit fly, Fruit fly, currant, Yellow currant fly)" },
          { "text": "Euphranta japonica (Fruit fly, Japanese cherry, Japanese cherry fruit fly)" },
          { "text": "Euwallacea fornicatus (Polyphagous Shot Hole Borer)" },
          { "text": "Euwallacea kuroshio (Kuroshio Shot Hole Borer)" },
          { "text": "Exomala orientalis (Asiatic beetle, Oriental beetle, Spotted chafer)" },
          { "text": "Forsythia suspensa var. suspensa (Forsythia)" },
          { "text": "Fortunella margarita (Kumquat)" },
          { "text": "Fragaria ananassa (F. x ananassa) (Strawberry)" },
          { "text": "Fuchsia hybrids (Fuchsia)" },
          { "text": "Fuchsia magellanica (Hardy Fuchsia)" },
          { "text": "Fusarium circinatum (Pitch canker of pine)" },
          { "text": "Gaultheria phillyreifolia (Snowberry)" },
          { "text": "Geosmithia morbida (Thousand Cankers Disease)" },
          { "text": "Geranium pilosum (Geraniums)" },
          { "text": "Gilpinia hercyniae (European spruce sawfly, Spruce sawfly, European)" },
          { "text": "Gleditsia sinensis (Chinese Honey Locust)" },
          { "text": "Globodera pallida European Strains (Cyst nematode, Pale potato cyst nematode, Potato cyst nematode, White potato cyst nematode)" },
          { "text": "Globodera pallida Non-European Strains (Cyst nematode, Pale potato cyst nematode, Potato cyst nematode, White potato cyst nematode)" },
          { "text": "Globodera rostochiensis European Strains (Cyst nematode, Golden nematode, Golden potato cyst nematode, Nematode, potato cyst, Potato cyst nematode, Root nematode)" },
          { "text": "Globodera rostochiensis Non-European Strains (Cyst nematode, Golden nematode, Golden potato cyst nematode, Nematode, potato cyst, Potato cyst nematode, Root nematode)" },
          { "text": "Gomphocarpus fruticosus (Swan Plant)" },
          { "text": "Grapevine ajinashika virus (Grapevine Ajinashika disease, Grapevine nervures jaunes)" },
          { "text": "Grapevine fanleaf virus (grapevine arriciamento, grapevine Bratislava mosaic virus, grapevine court-nouÔøΩ, grapevine fanleaf, grapevine infectious degeneration virus, grapevine Reisigkrankheit virus, grapevine roncet, grapevine urticado, grapevine vein banding, grapevine yellow mosaic)" },
          { "text": "Grapholita prunivora (Lesser apple moth, Lesser apple worm, Plum moth)" },
          { "text": "Grosmannia wageneri (Black stain root disease of conifers, Wilt of conifers)" },
          { "text": "Groundnut ringspot virus (GRSV)" },
          { "text": "Gymnosporangium asiaticum (Japanese pear rust, Leaf rust of Japanese pear, Leaf rust of juniper, Pear juniper leaf rust, Pear juniper rust)" },
          { "text": "Gymnosporangium clavipes (Cedar-Quince rust, Quince rust, Rust of apple, Rust of juniper, Rust of quince)" },
          { "text": "Gymnosporangium globosum (American hawthorn rust, American rust of hawthorn, cedar-hawthorn rust, Rust of apple, Rust of juniper)" },
          { "text": "Gymnosporangium juniperi-virginianae (American apple rust, American rust of apple, Cedar/apple rust, Rust of American cedar, Rust of juniper)" },
          { "text": "Gymnosporangium monticola (, Mountain Juniper rust)" },
          { "text": "Helianthus annuus (Sunflower)" },
          { "text": "Helicoverpa armigera (African cotton bollworm, Corn earworm, Cotton bollworm, Old World bollworm, Scarce bordered straw, Tobacco budworm, Tomato grub)" },
          { "text": "Helicoverpa assulta (cape-gooseberry budworm, Oriental tobacco budworm)" },
          { "text": "Helicoverpa zea (American bollworm, American cotton bollworm, Corn earworm, Cotton bollworm, New world bollworm, Tomato fruitworm)" },
          { "text": "Heliothis virescens (Tobacco Budworm)" },
          { "text": "Heterodera elachista (Japanese cyst nematode, Japanese rice cyst nematode)" },
          { "text": "Hibiscus" },
          { "text": "Homalodisca vitripennis (Glassy winged sharpshooter,)" },
          { "text": "Hop stunt viroid (citrus gummy bark viroid, grapevine viroid, hop stunt disease, Little leaf of citrus, mulberry vein clearing, peach dapple viroid, plum dapple viroid, Stem pitting of sour orange, Xyloporosis of citrus)" },
          { "text": "Hordeum vulgare (Barley)" },
          { "text": "Howea sp." },
          { "text": "Hydrangea macrophylla (Bigleaf Hydrangea)" },
          { "text": "Hymenoscyphus fraxineus (Ash dieback)" },
          { "text": "Illicium anisatum (Japanese Anise)" },
          { "text": "Impatiens necrotic spot virus (necrotic spot of impatiens)" },
          { "text": "Inga ingoides (Ice Cream Bean)" },
          { "text": "Ipomoea batatas (Sweet Potato)" },
          { "text": "Ips amitinus (Eight-toothed spruce bark beetle, Small spruce bark beetle)" },
          { "text": "Ips calligraphus (Coarse writing engraver, Six-spined ips, Western six-spined engraver)" },
          { "text": "Ips cembrae (large larch bark beetle)" },
          { "text": "Ips confusus (Californian five-spined engraver, PiÔøΩon ips)" },
          { "text": "Ips duplicatus (Double-spined bark beetle, Northern bark beetle)" },
          { "text": "Ips grandicollis (Eastern Five-Spined Engraver, Five-spined bark beetle, Southern pine engraver)" },
          { "text": "Ips hauseri (Hauser's engraver, Kyrgyz mountain engraver)" },
          { "text": "Ips lecontei (Arizona five-spined engraver)" },
          { "text": "Ips paraconfusus (California five-spined engraver, California five-spined ips)" },
          { "text": "Ips perturbatus (Northern spruce engraver, Spruce bark beetle)" },
          { "text": "Ips pini (Eastern pine engraver, Oregon pine engraver, pine engraver)" },
          { "text": "Ips plastographus (California pine engraver)" },
          { "text": "Ips sexdentatus (six-toothed bark beetle)" },
          { "text": "Ips subelongatus (oblong bark beetle)" },
          { "text": "Ips typographus (Eight-spined engraver, Eight-toothed spruce bark beetle, Larger eight-toothed European spruce bark beetle, Spruce bark beetle)" },
          { "text": "Jasminum" },
          { "text": "Juglans ailanthifolia var. ailanthifolia (Japanese Walnut)" },
          { "text": "Juglans mandshurica (Manchurian Walnut)" },
          { "text": "Juglans regia (Common Walnut)" },
          { "text": "Juglans" },
          { "text": "Juniperus (Juniper)" },
          { "text": "Keiferia lycopersicella (Tomato pinworm)" },
          { "text": "Lagerstroemia indica (Crape Myrtle)" },
          { "text": "Laguncularia racemosa (White Mangrove)" },
          { "text": "Lambdina fiscellaria (Hemlock, looper)" },
          { "text": "Lavandula angustifolia (Lavender)" },
          { "text": "Lavandula" },
          { "text": "Lecanosticta acicola (Brown spot of pine, Needle blight of pine)" },
          { "text": "Lepidosaphes ussuriensis (Ussuri oystershell scale, Ussurian comma scale)" },
          { "text": "Leptinotarsa decemlineata (Colorado beetle, Colorado potato beetle)" },
          { "text": "Leveillula clavata" },
          { "text": "Ligustrum vulgare (Common Privet)" },
          { "text": "Ligustrum" },
          { "text": "Lilium lancifolium (Devil lily, Kentan, lily, tiger)" },
          { "text": "Liquidambar styraciflua (Sweetgum)" },
          { "text": "Liquidambar styraciflua (Sweetgum)" },
          { "text": "Listronotus bonariensis (Argentina stem weevil, ryegrass stem weevil, Weevil, Argentine stem, Wheat stem weevil)" },
          { "text": "Litchi chinensis (Lychee)" },
          { "text": "Litchi" },
          { "text": "Little cherry virus 1 (Shirofugen disease, K &amp, S disease, K &amp, S little cherry disease, Kwanzan disease, Little cherry)" },
          { "text": "Litylenchus crenatae (A leaf gall nematode)" },
          { "text": "Lonicera tatarica (Tartarian Honeysuckle)" },
          { "text": "Lopholeucaspis japonica (Japanese long scale, Japanese maple scale, Long scale, Japanese, Pear white scale)" },
          { "text": "Lupinus" },
          { "text": "Lycium chinense (chinensis) (Chinese Boxthorn)" },
          { "text": "Lycium halimifolium (Duke's Thorn)" },
          { "text": "Lycorma delicatula (Chinese blistering cicada, spot clothing wax cicada, spotted lanternfly)" },
          { "text": "Lymantria mathura (Rosy gypsy moth)" },
          { "text": "Macadamia integrifolia (Macadamia Nut)" },
          { "text": "Maclura pomifera (Osage Orange)" },
          { "text": "Magnolia grandiflora (Southern Magnolia)" },
          { "text": "Malacosoma americanum (Eastern tent caterpillar)" },
          { "text": "Malacosoma disstria (Forest tent caterpillar, Forest tent caterpillar moth)" },
          { "text": "Malacosoma parallela (Mountain ring silk moth)" },
          { "text": "Mallotus japonicus (Kusagi)" },
          { "text": "Malpighia punicifolia (Acerola)" },
          { "text": "Malus domestica (Apple)" },
          { "text": "Mangifera indica (Mango)" },
          { "text": "Margarodes vitis (grape ground pearl)" },
          { "text": "Medicago sativa (Alfalfa)" },
          { "text": "Melampsora farlowii (Rust of hemlock, Rust of tsuga)" },
          { "text": "Melia azadirachata (Neem)" },
          { "text": "Meloidogyne arenaria (Nematode, peanut root-knot, Peanut root-knot nematode, Root gall nematode, Root-knot nematode)" },
          { "text": "Meloidogyne chitwoodi (Columbia root-knot nematode, Nematode, Columbia root-knot, Root gall nematode, Root-knot nematode)" },
          { "text": "Meloidogyne enterolobii (Root-knot nematode)" },
          { "text": "Meloidogyne fallax (Root gall nematode, Root-knot nematode)" },
          { "text": "Meloidogyne javanica (Javanese root-knot nematode, Root gall nematodes, Root-knot nematodes, Sugarcane eelworm, Sugarcane nematode)" },
          { "text": "Meloidogyne mali (Apple root knot nematode)" },
          { "text": "Metathelypteris" },
          { "text": "Miconia calvescens (Miconia)" },
          { "text": "Miscanthus" },
          { "text": "Monochamus maculosus (Spotted pine sawyer)" },
          { "text": "Monochamus marmorator (Balsam fir sawyer)" },
          { "text": "Monochamus notatus (Northeastern sawyer)" },
          { "text": "Monochamus obtusus (Obtuse sawyer, Sawyer, obtuse)" },
          { "text": "Monochamus scutellatus (Oregon Fir sawyer, white spotted pine sawyer, White spotted sawyer)" },
          { "text": "Monochamus titillator (Pine sawyer, southern, Southern pine sawyer)" },
          { "text": "Monochamus urossovii (black fir sawyer, black fir swayer, White mottled sawyer)" },
          { "text": "Moringa oleifera (Drumstick Tree)" },
          { "text": "Morus alba (White Mulberry)" },
          { "text": "Morus nigra (Black Mulberry)" },
          { "text": "Morus rubra (Red Mulberry)" },
          { "text": "Musa acuminata (Banana)" },
          { "text": "Musa x paradisiaca (Plantain)" },
          { "text": "Mycodiella laricis-leptolepidis (Needle cast of Japanese larch)" },
          { "text": "Myiopardalis pardalina (Baluchistan melon fly, Russian melon fly)" },
          { "text": "Myrica cerifera (Southern Wax Myrtle)" },
          { "text": "Myristica fragrans (Nutmeg)" },
          { "text": "Myrtus (Myrtle)" },
          { "text": "Nacobbus aberrans sensu lato (False root-knot nematode)" },
          { "text": "Naupactus leucoloma (white-fringed beetle, white-fringed weevil)" },
          { "text": "Naupactus xanthographus (Citrus beetle, Grape-fruit weevil, South American fruit tree weevil)" },
          { "text": "Nemorimyza maculosa (Chrysanthemum leafminer)" },
          { "text": "Neoaliturus (Circulifer) tenellus (Beet leafhopper, Leafhopper, beet)" },
          { "text": "Neocerambyx raddei (chestnut trunk borer, deep mountain longhorn beetle (USA), mountain oak longhorned beetle, oak long-horned beetle)" },
          { "text": "Neoceratitis cyanescens (Tomato fruit fly)" },
          { "text": "Neodiprion abietis (Balsam fir, sawfly, Spruce, sawfly)" },
          { "text": "Neoleucinodes elegantalis (Small tomato borer)" },
          { "text": "Nephrolepis (Sword Fern)" },
          { "text": "Nerium oleander (Oleander)" },
          { "text": "Oemona hirta (Lemon tree borer)" },
          { "text": "Olea europaea (Olive)" },
          { "text": "Onoclea sensibilis (Sensitive Fern)" },
          { "text": "Opogona sacchari (Banana moth, Sugarcane borer, Sugarcane moth)" },
          { "text": "Opuntia ficus-indica (Prickly Pear)" },
          { "text": "Opuntia" },
          { "text": "Orchidaceae" },
          { "text": "Orgyia pseudotsugata (Douglas fir tussock moth)" },
          { "text": "Origanum (Oregano)" },
          { "text": "Ornithogalum (Star of Bethlehem)" },
          { "text": "Pachira aquatica (Money Tree)" },
          { "text": "Pachira" },
          { "text": "Paeonia (Peony)" },
          { "text": "Pantoea stewartii subsp. stewartii (Bacterial leaf blight of maize, Bacterial wilt of maize, Jackfruit bronzing, Stewart's disease)" },
          { "text": "Papaver somniferum (Opium Poppy)" },
          { "text": "Parthenocissus quinquefolia (Virginia Creeper)" },
          { "text": "Parthenocissus" },
          { "text": "Passiflora caerulea (Blue Passionflower)" },
          { "text": "Paulownia tomentosa (Royal Paulownia)" },
          { "text": "Paysandisia archon (Palm borer, South American palm borer)" },
          { "text": "Peach rosette phytoplasma (Rosette of peach)" },
          { "text": "Peach yellows phytoplasma (Little peach, Red suture of peach, Yellows of peach)" },
          { "text": "Pelargonium (Geranium)" },
          { "text": "Pelargonium x hortorum. (Pelargonium, zonal)" },
          { "text": "Peltiphyllum peltatum (Indian Rhubarb)" },
          { "text": "Pennisetum (Fountain Grass)" },
          { "text": "Pentas" },
          { "text": "Perovskia atriplicifolia (Russian Sage)" },
          { "text": "Persea americana (Avocado)" },
          { "text": "Persea borbonia (Redbay)" },
          { "text": "Petunia × hybrida (Petunia)" },
          { "text": "Petunia" },
          { "text": "Phalaenopsis (Moth Orchid)" },
          { "text": "Philodendron bipinnatifidum (Tree Philodendron)" },
          { "text": "Phoenix canariensis (Canary Island Date Palm)" },
          { "text": "Phomopsis vaccinii (Fruit rot of blueberry, Phomopsis canker and dieback of blueberry, Storage rot of blueberry, Twig blight of blueberry, Viscid rot of blueberry)" },
          { "text": "Phormium (New Zealand Flax)" },
          { "text": "Phyllanthus acidus (Otaheite Gooseberry)" },
          { "text": "Phyllostachys aurea (Golden Bamboo)" },
          { "text": "Phyllostachys bambusoides (Madake Bamboo)" },
          { "text": "Phyllostachys nigra (Black Bamboo)" },
          { "text": "Phyllostachys pubescens (Moso Bamboo)" },
          { "text": "Phyllosticta solitaria (Blotch of apple, Fruit blotch of pome fruits, Leaf spot of pome fruits, Teig cancer of pome fruits)" },
          { "text": "Phymatotrichopsis omnivora (Phymatotrichum root rot, Root rot of conifers, Root rot of soybean, Soft rot of cotton, Texas root rot of alfalfa, Texas root rot of bean, Texas root rot of cotton, Texas root rot of grapevine)" },
          { "text": "Phytophthora fragariae (Lanarkshire disease of strawberry, Red core disease of strawberry, Red core of strawberry, Red stele disease of strawberry, Red stele of strawberry)" },
          { "text": "Phytophthora lateralis (Root rot: Chamaecyparis spp.)" },
          { "text": "Phytophthora ramorum (Ramorum leaf blight, Ramorum shoot dieback, Rhododendron twig blight, Sudden oak death)" },
          { "text": "Phytophthora rubi (Raspberry root rot)" },
          { "text": "Pinus contorta (Lodgepole Pine)" },
          { "text": "Pinus densiflora (Japanese Red Pine)" },
          { "text": "Pinus mugo (Mountain Pine)" },
          { "text": "Pinus nigra (European Black Pine)" },
          { "text": "Pinus palustris (Longleaf Pine)" },
          { "text": "Pinus pinea (Pine stone, Pine umbrella)" },
          { "text": "Pinus ponderosa (Ponderosa Pine)" },
          { "text": "Pinus radiata (Monterey Pine)" },
          { "text": "Pinus sylvestris (Scots Pine)" },
          { "text": "Pinus taeda (Loblolly Pine)" },
          { "text": "Pissodes fasciatus (Douglas fir weevil)" },
          { "text": "Pissodes nemorensis (Deodar weevil, Northern pine weevil)" },
          { "text": "Pissodes nitidus (Yellow spotted pine weevil)" },
          { "text": "Pissodes punctatus (Armand pine bark weevil)" },
          { "text": "Pissodes strobi (Englemann spruce weevil, Sitka spruce weevil, White pine weevil)" },
          { "text": "Pissodes terminalis (Lodgepole pine terminal weevil, Lodgepole terminal weevil)" },
          { "text": "Pissodes yunnanensis (Yunnan pine weevil)" },
          { "text": "Pistacia vera (Pistachio)" },
          { "text": "Pityophthorus juglandis (Walnut Twig Beetle)" },
          { "text": "Plasmopara halstedii (Downy mildew of sunflower)" },
          { "text": "Platanus occidentalis (American Sycamore)" },
          { "text": "Platanus orientalis (Oriental Plane)" },
          { "text": "Platynota stultana (Omnivorous leafroller)" },
          { "text": "Platypus apicalis (New Zealand pinhole boring beetle)" },
          { "text": "Plum pox virus (Peach sharka, Pox of plum, Sharka, Sharka disease of plum)" },
          { "text": "Plumbago auriculata (Cape Leadwort)" },
          { "text": "Plumeria rubra (Frangipani)" },
          { "text": "Polygraphus proximus (four-eyed fir bark beetle, Japanese silver-fir bark beetle, Sakhalin fir bark beetle)" },
          { "text": "Polyscias fruticosa (Ming Aralia)" },
          { "text": "Polystichum acrostichoides (Christmas Fern)" },
          { "text": "Popillia japonica (Japanese beetle)" },
          { "text": "Populus alba (White Poplar)" },
          { "text": "Populus deltoides (Eastern Cottonwood)" },
          { "text": "Populus grandidentata (Bigtooth Aspen)" },
          { "text": "Populus nigra (Black Poplar)" },
          { "text": "Populus tremula (European Aspen)" },
          { "text": "Populus tremuloides (Quaking Aspen)" },
          { "text": "Portulaca oleracea (Common Purslane)" },
          { "text": "Potato black ringspot virus (Andean calico of potato, calico disease of potato, Calico of potato)" },
          { "text": "Potato leaf roll virus (non-European) (potato leafroll virus, potato phloem necrosis virus)" },
          { "text": "Potato spindle tuber viroid (Bunchy top of tomato, Spindle tuber of potato)" },
          { "text": "Potato virus A (non-European strains) (Common mosaic of potato, Mild mosaic of potato, Veinal mosaic of potato)" },
          { "text": "Potato virus X (non-European strains) (Potato mild mosaic, Potato mottle, Tomato streak)" },
          { "text": "Potato virus Y (non-European strains) (Potato acropetal necrosis, Potato leaf-drop streak, Potato mottle, Potato severe mosaic, Potato stipple streak, Tobacco vein-banding, Tobacco veinal necrosis, Veinal necrosis of pepper)" },
          { "text": "Potato yellow dwarf virus (Yellow dwarf of potato)" },
          { "text": "Potato yellow vein virus (Potato vein-yellowing, Vein-yellowing of potato, Yellow vein of potato)" },
          { "text": "Premnotrypes latithorax (Andean potato weevil)" },
          { "text": "Premnotrypes suturicallus (Andean potato weevil)" },
          { "text": "Premnotrypes vorax (Andean potato weevil)" },
          { "text": "Primula acaulis (Primrose)" },
          { "text": "Prunus armeniaca (Apricot)" },
          { "text": "Prunus avium (Sweet Cherry)" },
          { "text": "Prunus cerasifera (Cherry Plum)" },
          { "text": "Prunus domestica (Plum)" },
          { "text": "Prunus dulcis (Almond)" },
          { "text": "Prunus necrotic ringspot virus (Almond bud failure, Almond calico, Almond line pattern, Almond necrotic ringspot, Apricot line pattern, Apricot necrotic ringspot, Cherry lace leaf, Cherry line pattern, Cherry necrotic ringspot, Cherry ringspot, Cherry rugose mosaic, Cherry stecklenberger disease, Cherry tatter leaf, Necrotic ringspot of prunus, Peach line pattern, Peach mule's ear, Peach necrotic leafspot, Peach necrotic ringspot, Peach ringspot, Peach willow leaf, Plum decline, Plum European line pattern, Plum oak leaf, Prunus necrotic ringspot, Prunus ringspot, Rose mosaic, Rose yellow mosaic, Sour cherry fruit necrosis, Sour cherry line mosaic, Sour cherry necrotic ringspot)" },
          { "text": "Prunus persica (Peach)" },
          { "text": "Prunus salicina (Japanese Plum)" },
          { "text": "Prunus serotina (Black Cherry)" },
          { "text": "Prunus serrulata (Japanese Cherry)" },
          { "text": "Prunus subhirtella (Weeping Cherry)" },
          { "text": "Prunus yedoensis (Yoshino Cherry)" },
          { "text": "Pseudaulacaspis pentagona (Japanese fruit scale, Mulberry scale, west indian peach scale, West Indian scale, White peach scale, white plum scale, white scale)" },
          { "text": "Pseudocercospora pini-densiflorae (Brown needle blight of pine, Cercospora blight of pine, Needle blight of pine)" },
          { "text": "Pseudomonas avellanae (Stem dieback of hazel nut)" },
          { "text": "Pseudomonas savastanoi pv. savastanoi (Bacterial canker of olive, Olive knot)" },
          { "text": "Pseudomonas syringae pv. persicae (Bacterial dieback of peach/nectarine, Bacterial dieback of stone fruit)" },
          { "text": "Pseudopityophthorus minutissimus (minute oak bark beetle, small oak bark beetle)" },
          { "text": "Pseudopityophthorus pruinosus (oak bark beetle)" },
          { "text": "Puccinia horiana (Chrysanthemum white rust, White rust of chrysanthemum)" },
          { "text": "Puccinia pittieriana (Common rust of potato, Potato rust, Rust of potato)" },
          { "text": "Quercus robur (Oak)" },
          { "text": "Raffaelea lauricola (laurel wilt)" },
          { "text": "Ralstonia solanacearum (Brown rot of potato)" },
          { "text": "Ralstonia syzygii subsp. celebesensis (Banana blood disease, BDB, Blood disease bacterium)" },
          { "text": "Raspberry leaf curl virus (American leaf curl of raspberry, American raspberry leaf curl, Curl of raspberry)" },
          { "text": "Raspberry ringspot virus (European rasp leaf of cherry, leaf distortion of gooseberry, Lloyd George yellow blotch of raspberry, Pfeffinger disease of sweet cherry, ring spot of red currant, ring spot of strawberry, RRSV, Scottish leaf curl of raspberry, spoon leaf of redcurrant)" },
          { "text": "Rhagoletis fausta (Black cherry fruit fly, Fruit fly, black cherry, Fruit fly, dark cherry)" },
          { "text": "Rhagoletis indifferens (Western cherry fruit fly)" },
          { "text": "Rhagoletis mendax (Blueberry maggot)" },
          { "text": "Rhagoletis pomonella (Apple fruit fly, Apple maggot, Apple maggot fly, Maggot, apple, Worm, railroad)" },
          { "text": "Rhagoletis ribicola (Dark currant fly, Fruit fly, dark currant)" },
          { "text": "Rhagoletis suavis (, Walnut Husk Maggot)" },
          { "text": "Rhigopsidius tucumanus (Potato weevil, Tucuman weevil)" },
          { "text": "Rhynchophorus ferrugineus (Red palm weevil)" },
          { "text": "Rhynchophorus palmarum (South American palm weevil)" },
          { "text": "Ripersiella hibisci (Hibiscus root scale)" },
          { "text": "Rosa rugosa (Rosa, Ramanas, Rose, hedge-row)" },
          { "text": "Rose rosette virus (rose rosette disease)" },
          { "text": "Saperda candida (Round headed apple tree borer)" },
          { "text": "Scaphoideus luteolus (White-Banded Elm Leafhopper)" },
          { "text": "Scaphoideus titanus (American grapevine leafhopper)" },
          { "text": "Scirtothrips aurantii (South African citrus thrips)" },
          { "text": "Scirtothrips citri (California citrus thrips, Citrus thrips)" },
          { "text": "Scirtothrips dorsalis (assam thrips, castor thrips, chilli thrips, yellow tea thrips)" },
          { "text": "Scolytus morawitzi (larch sapwood beetle, Morawitz?s bark beetle, Russian larch bark beetle)" },
          { "text": "Scolytus ventralis (Fir engraver)" },
          { "text": "Septoria malagutii (Annular leaf spot of potato, Septoria leaf spot of potato)" },
          { "text": "Solanum ciliatum" },
          { "text": "Solanum erianthum (Nightshade, Tobacco tree)" },
          { "text": "Solanum lycopersicum (Tomato)" },
          { "text": "Solanum malacoxylon" },
          { "text": "Solanum muricatum (Melonpear)" },
          { "text": "Solanum nigrum (Nightshade, black (berry), Nightshade, Sunberry)" },
          { "text": "Solanum rostratum (Buffalobur, Kansas-thistle, Nightshade, Beaked)" },
          { "text": "Solanum tuberosum (Potato)" },
          { "text": "Sphaerulina musiva (Septoria canker of poplar)" },
          { "text": "Spiroplasma citri (Acorn disease, Citrus little leaf, Citrus stubborn disease, Little leaf of citrus, Stubborn disease of citrus)" },
          { "text": "Spodoptera eridania (Semi-tropical armyworm, Southern armyworm)" },
          { "text": "Spodoptera frugiperda (Fall armyworm, Grass worm)" },
          { "text": "Spodoptera littoralis (African cotton leafworm, Cotton leafworm, Egyptian cotton leafworm, Egyptian cotton worm, Mediterranean climbing cutworm, Meditteranea Brocade, Tobacco cutworm)" },
          { "text": "Spodoptera litura (Asian cotton leafworm, Cluster caterpillar, Fall armyworm, Rice cutworm, Taro caterpillar, Tobacco budworm, Tobacco caterpillar, Tobacco cutworm, Tobacco leaf caterpillar)" },
          { "text": "Spodoptera ornithogalli (yellow stripe armyworm, yellow striped armyworm)" },
          { "text": "Stagonosporopsis andigena (Black blight of potato, Leaf spot of potato)" },
          { "text": "Stegophora ulmea (Black spot of elm, Elm black spot, Leaf spot of elm)" },
          { "text": "Strauzia longipennis (Peacock fly, Sunflower fruit fly, Sunflower maggot, Sunflower maggot fly)" },
          { "text": "Strawberry crinkle virus (crinkle of strawberry, Strawberry latent virus strain A, Strawberry latent virus strain B, Strawberry virus 3, Strawberry virus 4)" },
          { "text": "Strawberry latent ringspot virus (latent ring spot of strawberry)" },
          { "text": "Strawberry mild yellow edge virus (Mild yellow edge of strawberry, Xanthosis of strawberry)" },
          { "text": "Strawberry vein banding virus (leaf curl of strawberry, vein banding of strawberry)" },
          { "text": "Strawberry witches' broom phytoplasma (Witches' broom of strawberry)" },
          { "text": "Sweet potato mild mottle virus (Mild mottle of sweet potato, Mosaic of sweet potato, Sweet potato mosaic)" },
          { "text": "Tecia solanivora (Guatemalan potato moth, Guatemalan potato tuber moth, potato moth)" },
          { "text": "Tetranychus evansi (tomato red spider mite)" },
          { "text": "Tetropium gracilicorne (Fine-horned spruce borer)" },
          { "text": "Thaumatotibia leucotreta (Citrus codling moth, False codling moth, Orange codling moth, Orange moth)" },
          { "text": "Thaumetopoea pinivora (eastern pine processionary moth, Northern pine processionary moth)" },
          { "text": "Thaumetopoea pityocampa (pine processionary caterpillar, pine processionary moth)" },
          { "text": "Thaumetopoea processionea (Oak processionary caterpillar, Oak processionary moth)" },
          { "text": "Thecaphora solani (Potato smut, Smut of potato, Thecaphora smut, Thecaphora smut of potato)" },
          { "text": "Thecodiplosis japonensis (Japanese pine needle gall midge, Pine needle gall midge)" },
          { "text": "Thekopsora minima (leaf rust of blueberry)" },
          { "text": "Thrips palmi (melon thrips, oriental thrips, southern yellow thrips)" },
          { "text": "Tilletia indica (Indian bunt of wheat, Karnal bunt of wheat, Partial bunt of wheat)" },
          { "text": "Tobacco ringspot virus (bud blight of soybean, Tobacco ringspot virus 1, Tobacco ringspot virus: tobacco, soybean)" },
          { "text": "Tomato black ring virus (black ring of tomato, bouquet of potato, pseudo-aucuba of potato, ring spot of bean, ring spot of beet, ring spot of lettuce, yellow vein of celery)" },
          { "text": "Tomato chlorotic dwarf viroid"},
          { "text": "Tomato mild mottle virus (Tomato mild mottle virus)" },
          { "text": "Tomato ringspot virus (chlorosis mosaic of raspberry, chlorosis of pelargonium, crumbly fruit of raspberry, decline of raspberry, eola rasp leaf of cherry, peach yellow bud mosaic, ringspot of tomato, stem pitting of prunus, stub head of gladiolus, stunt of gladiolus, union necrosis of apple, yellow blotch curl of raspberry, yellow bud mosaic of peach, yellow vein of grapevine)" },
          { "text": "Tomato spotted wilt virus (bronze leaf of tomato, bronze leaf wilt, Kromnek virus, spotted wilt of tomato, tomato bronze leaf, Tomato spotted wilt, yellow spot of pineapple)" },
          { "text": "Tomato yellow leaf curl virus (leaf curl, tomato yellow leaf curl virus)" },
          { "text": "Toumeyella parvicornis (Pine tortoise scale)" },
          { "text": "Trialeurodes abutiloneus (Banded-winged whitefly)" },
          { "text": "Tulipa (Tulips)" },
          { "text": "Verticillium albo-atrum (sensu stricto) (verticillium wilt)" },
          { "text": "Verticillium albo-atrum (Verticillium wilt, Verticillium wilt of tomato, Wilt of potato)" },
          { "text": "Verticillium dahliae (Verticillium wilt, Verticillium wilt of cotton)" },
          { "text": "Xanthomonas arboricola pv. corylina (Bacterial blight of hazel nut)" },
          { "text": "Xanthomonas arboricola pv. pruni (Bacterial canker of stone fruits, Bacterial leaf spot of prunus, Bacterial leaf spot of stone fruits, Bacterial shot-hole of stone fruits, Black spot of plum, Shot hole)" },
          { "text": "Xanthomonas axonopodis pv. citri (Asiatic canker (A strains), Bacterial canker of citrus, Cancrosis A (A strains), Cancrosis B (B strains), Canker of citrus, Citrus bacteriosis (D strains), Citrus canker, False canker (B strains), Mexican lime cancrosis (C strains), South American canker (B strains))" },
          { "text": "Xanthomonas axonopodis pv. Poinsettiicola" },
          { "text": "Xanthomonas euvesicatoria (bacterial leaf spot of tomato, bacterial spot of pepper)" },
          { "text": "Xanthomonas fragariae (Angular leaf spot of strawberry, Leaf blight of strawberry, Vascular collapse of strawberry)" },
          { "text": "Xanthomonas gardneri (Bacterial spot of tomato)" },
          { "text": "Xanthomonas oryzae pv. oryzae (Bacterial blight of rice, Bacterial leaf blight of rice, BLB, Kresek disease of rice, Leaf blight of rice, Rice bacterial leaf blight, Rice kresek disease, Rice leaf blight)" },
          { "text": "Xanthomonas oryzae pv. oryzicola (Bacterial leaf streak of rice, BLS, Leaf streak of rice)" },
          { "text": "Xanthomonas perforans (Bacterial spot of tomato)" },
          { "text": "Xanthomonas vesicatoria (Bacterial leaf spot of tomato, Bacterial lefa blight of tomato and pepper, Bacterial scab of tomato, Bacterial spot of fruit and tomato and pepper, Bacterial stem blight of tomato and pepper, Black spot, Leaf spot of tomato, Pepper baterial spot, bacterial scab, black spot, Stem canker of tomato)" },
          { "text": "Xiphinema americanum sensu stricto (American dagger nematode, Nematode, American dagger, Nematode, tobacco ring, Tobacco ring pot)" },
          { "text": "Xiphinema diversicaudatum (Dagger nematode, European dagger nematode)" },
          { "text": "Xiphinema inaequale (Xiphinema americanum-group)" },
          { "text": "Xiphinema index (Californian dagger nematode, Dagger nematode, Fan-leaf virus nematode)" },
          { "text": "Xiphinema intermedium (Xiphinema americanum-group)" },
          { "text": "Xiphinema rivesi (non-European populations) (A dagger nematode)" },
          { "text": "Xiphinema tarjanense (, Xiphinema americanum-group)" },
          { "text": "Xyleborus glabratus (redbay ambrosia beetle)" },
          { "text": "Xylella fastidiosa (Alfalfa dwarf, Anaheim disease, California vine disease, Dwarf disease of alfalfa, Dwarf disease of lucerne, Leaf scald of oleander, Leaf scald of plum, Leaf scorch, Phony disease of peach, Pierces disease of grapevine, Variegated chlorosis of citrus)" },
          { "text": "Xylophilus ampelinus (Bacterial blight of grapevine, Canker of grapevine, Mal nero)" },
          { "text": "Xylotrechus altaicus (Alta larch longhorn beetle, Altay larch cerambycid, Altay longhorn beetle)" } 
          ]
          }) }}


        </fieldset>
      </div>
      <button type="submit" class="govuk-button">
        Search
      </button>
    </form>
  </div>

  {% endblock %}