{% extends "layouts/main.html" %}

{% block pageTitle %}
Pinus pinea - Check plant health information and import rules — GOV.UK
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Plant or plant product
    </span>
    <h1 class="govuk-heading-xl">
      Pinus pinea
    </h1>

   <!-- <h2 class="govuk-heading-m">
      Identity
    </h2> -->

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Preferred name
    </h3>
    <p>
      Pinus pinea </p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>
    <ul class="govuk-list">
      <li>
        Pine stone
      </li>
      <li>
        Pine umbrella
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <p>
      None</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      EPPO code
    </h3>
    <p>
      PIUPN </p>


    {% if country is not defined or country == 'Default Country'%}
    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Importing {{data['plantName']}} into Great Britain
    </h2>

    <p>
      To find out what extra checks or documentation are needed, <a class="govuk-link"
        href="/{{version}}/service/country-select">provide where you are importing from</a>.
    </p>

    <!--This is Prohibited plant section-->
    {% elif country == 'Russia'%}
    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Importing {{data['plantName']}} from {{data['country']}}
    </h2>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must not import {{data['plantName']}} from {{data['country']}} as {{data['format']}} 
      </strong>
    </div>

    <p class="govuk-body">
      Despite import restrictions, you may be able to <a class="govuk-link" href="https://www.gov.uk/guidance/moving-prohibited-plants-plant-pests-pathogens-and-soil">apply for authorisation to import your plant or plant product.</a>
    </p>

    <!--100% Prohibited - For Russia scenario-->

    <h2 class="govuk-heading-m">
      Pests and diseases you must report
    </h2>
    <!--<p class="govuk-body-l">Chrome</p>-->
    <p class="govuk-body">Different formats of {{data['plantName']}} might carry the pests or diseases from {{data['country']}} listed at the bottom of the page. These pests and diseases are considered a risk to Great Britain's agriculture, horticulture or wildlife. Consignments may be destroyed because of these pests.​</p>
    <p class="govuk-body">You must <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/contact-apha#plant-health-reports-and-other-queries">report any suspicions of these pests or diseases to the relevant authority.</a></p>


<!--This is Unprohibited plant (Medium risk) scenario-->

    {% elif format == 'bark'%}
    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Importing {{data['plantName']}} from {{data['country']}} <!--as {{data['format']}}-->
    </h2>
    <p>To import {{data['plantName']}} as {{data['format']}} from {{data['country']}}, You will need to (the following links open in a new tab:)</p>
    <ul class="govuk-list govuk-list--bullet">
      
      <li>
        get a <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#making-a-pre-notification">phytosanitary certificate from your exporter</a>
      </li>
      <li>
        meet the <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#making-a-pre-notification">ISPM 15 international standard</a> for any wood packaging material you use​
      </li>
    </ul>
    <div class="govuk-inset-text">
      You may need to include an additional declaration on the phytosanitary certificate. To find out,  <a class="govuk-link"
        rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/requirement-for-additional-declarations-ads-on-phytosanitary-certificate-pcs/">check the additional declaration tool (opens in a new tab)</a>.
    </div>

<!--Un Prohibited (Medium risk)-->
  
   <h2 class="govuk-heading-m">
      Pests and diseases you must report
    </h2>
    <!--<p class="govuk-body-l">TEST</p>-->
    <p class="govuk-body">Different formats of {{data['plantName']}} might carry the pests or diseases from {{data['country']}} listed at the bottom of the page. These pests and diseases are considered a risk to Great Britain's agriculture, horticulture or wildlife. If one of these pests or diseases is found during plant health inspections, action will be taken. This could result in consignments being delayed or destroyed.</p>
    <p class="govuk-body">You must <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/contact-apha#plant-health-reports-and-other-queries">report any suspicions of these pests or diseases to the relevant authority.
      </a></p>
    <p class="govuk-body">You can <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/non-compliance/">find out how often inspections at the border have resulted in the destruction of goods (opens in a new tab).
      </a></p>

    {% else %}


    <!--This is a Unprohibited Plant (high/medium risk) scenario-->

    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Importing {{data['plantName']}} from {{data['country']}} <!--as {{data['format']}}-->
    </h2>
    <p>To import {{data['plantName']}} as {{data['format']}} from {{data['country']}}, you will need to (the following links open in a new tab):</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#get-a-phytosanitary-certificate-pc">register to import</a> if you're a first-time importer
      </li>
      <li>
        get a <a class="govuk-link" rel="noreferrer noopener" target="_blank"
          href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#making-a-pre-notification">phytosanitary certificate from your exporter</a>
      </li>
      <li>
        meet the <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#making-a-pre-notification">ISPM 15 international standard</a> for any wood packaging material you use
      </li>
      <li>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">notify the relevant authorities about your import</a>
      </li>
      <li>
        comply with documentary, <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">identity and physical checks</a> at the border
      </li>
      <li>
       pay <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">fees for plant health checks</a>
      </li>
    </ul>
    <div class="govuk-inset-text">
      You may need to include an additional declaration on the phytosanitary certificate. To find out,  <a class="govuk-link"
        rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/requirement-for-additional-declarations-ads-on-phytosanitary-certificate-pcs/">check the additional declaration tool (opens in a new tab)</a>.
    </div>

<!--Un Prohibited scenario-->

    <h2 class="govuk-heading-m">
      Pests and diseases you must report
    </h2>
    <!--<p class="govuk-body-l">TEST</p>-->
    <p class="govuk-body">Different formats of {{data['plantName']}} might carry the pests or diseases from {{data['country']}} listed at the bottom of the page. These pests and diseases are considered a risk to Great Britain's agriculture, horticulture or wildlife. If one of these pests or diseases is found during plant health inspections, action will be taken. This could result in consignments being delayed or destroyed.</p>
    <p class="govuk-body">You must <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/contact-apha#plant-health-reports-and-other-queries">report any suspicions of these pests or diseases to the relevant authority.
      </a></p>
    <p class="govuk-body">You can <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/non-compliance/">find out how often inspections at the border have resulted in the destruction of goods (opens in a new tab).
      </a></p>


  
    {% endif %}

   

    
  <!--COPY BACK THE CODE HERE if prohibited vs unprohibited separate content logic doesn't work-->
 
  {% if country is not defined or country != 'Russia'%}
  

  
  <table class="govuk-table">
    <!--<caption class="govuk-table__caption govuk-table__caption--s">High priority pest</caption> -->
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Scientific name</th>
        <th scope="col" class="govuk-table__header">Common names</th>
        <th scope="col" class="govuk-table__header">Affected formats of {{data['plantName']}}</th>
        
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Dendrolimus sibiricus</td>
        <td class="govuk-table__cell">Siberian lasiocampid, larch caterpillar, Siberian conifer silk moth, Siberian
          lappet moth, Siberian moth, Siberian silk moth</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Ips amitinus</td>
        <td class="govuk-table__cell">Eight-toothed spruce bark beetle, Small spruce bark beetle</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Ips hauseri</td>
        <td class="govuk-table__cell">Hauser's engraver, Kyrgyz mountain engraver</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell"><a class="govuk-link" href="/{{version}}/pests/ips-typographus">Ips typographus</a>
        </td>
        <td class="govuk-table__cell">Eight-spined engraver, Eight-toothed spruce bark beetle, Larger eight-toothed
          European spruce bark beetle, Spruce bark beetle</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">

        <td class="govuk-table__cell">Lecanosticta acicola</td>
        <td class="govuk-table__cell">Brown spot of pine, Needle blight of pine</th>  
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Monochamus galloprovincialis</td>
        <td class="govuk-table__cell">black pine sawyer beetle, Pine sawyer</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
      <tr class="govuk-table__row">

        <td class="govuk-table__cell">Monochamus urossovii</td>
        <td class="govuk-table__cell">black fir sawyer, black fir swayer, White mottled sawyer</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
<tr class="govuk-table__row">
      
      <td class="govuk-table__cell">Pissodes nemorensis</td>
      <td class="govuk-table__cell">Deodar weevil, Northern pine weevil</td>
      <td class="govuk-table__cell">All formats</td>
    </tr>
    </table>









    {% elif country == 'Russia'%}

    <table class="govuk-table">
      <!--<caption class="govuk-table__caption govuk-table__caption--s">High priority pest</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Scientific name</th>
          <th scope="col" class="govuk-table__header">Common names</th>
          <th scope="col" class="govuk-table__header">Affected formats of {{data['plantName']}}</th>
          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">Dendrolimus sibiricus</td>
          <td class="govuk-table__cell">Siberian lasiocampid, larch caterpillar, Siberian conifer silk moth, Siberian
            lappet moth, Siberian moth, Siberian silk moth</td>
          <td class="govuk-table__cell">All formats</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">Ips amitinus</td>
          <td class="govuk-table__cell">Eight-toothed spruce bark beetle, Small spruce bark beetle</td>
          <td class="govuk-table__cell">All formats</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">Ips hauseri</td>
          <td class="govuk-table__cell">Hauser's engraver, Kyrgyz mountain engraver</td>
          <td class="govuk-table__cell">All formats</td>
        </tr>
        <tr class="govuk-table__row">

          <td class="govuk-table__cell"><a class="govuk-link" href="/{{version}}/pests/ips-typographus">Ips typographus</a>
          </td>
          <td class="govuk-table__cell">Eight-spined engraver, Eight-toothed spruce bark beetle, Larger eight-toothed
            European spruce bark beetle, Spruce bark beetle</td>
          <td class="govuk-table__cell">All formats</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">Lecanosticta acicola</td>
          <td class="govuk-table__cell">Brown spot of pine, Needle blight of pine</th>
          <td class="govuk-table__cell">All formats</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">Monochamus galloprovincialis</td>
          <td class="govuk-table__cell">black pine sawyer beetle, Pine sawyer</td>
          <td class="govuk-table__cell">All formats</td>
        </tr>
        <tr class="govuk-table__row">
          
          <td class="govuk-table__cell">Monochamus urossovii</td>
          <td class="govuk-table__cell">black fir sawyer, black fir swayer, White mottled sawyer</td>
          <td class="govuk-table__cell">All formats</td>
        </tr>
<tr class="govuk-table__row">
        
        <td class="govuk-table__cell">Pissodes nemorensis</td>
        <td class="govuk-table__cell">Deodar weevil, Northern pine weevil</td>
        <td class="govuk-table__cell">All formats</td>
      </tr>
       


<!--Below pest list has been disbaled per latest update for UR testing-->
<!--
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Black and white longhorn, Citrus longhorn, Citrus longhorn beetle, Citrus root
            cerambycid</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Anoplophora chinensis</a></td>
              <td class="govuk-table__cell">Seeds</td>
        </tr>
     
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Coleosporium phellodendri</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Coleosporium phellodendri</a></td>
              <td class="govuk-table__cell">Isolated bark</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Japanese pine caterpillar, Pine caterpillar, Pine moth</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Dendrolimus spectabilis</a></td>
              <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Eastern pine processionary moth, Northern pine processionary moth</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Thaumetopoea pinivora</a></td>
              <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Pine processionary caterpillar, Pine processionary moth</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Thaumetopoea pityocampa</a></td>
              <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Japanese pine needle gall midge, Pine needle gall midge</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Thecodiplosis japonensis</a></td>
              <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Alfalfa dwarf, Anaheim disease, California vine disease, Dwarf disease of
            alfalfa, Dwarf disease of lucerne, Leaf scald of oleander, Leaf scald of plum, Leaf scorch, Phony disease of
            peach, Pierce's disease of grapevine, Variegated chlorosis of citrus</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_parent"
              href="/{{version}}/pests/xylella-fastidiosa">Xylella fastidiosa</a></td>
              <td class="govuk-table__cell"></td>
        </tr>
     
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Anthracnose of strawberry, Black spot of strawberry, Crown rot of anemone, Leaf
            curl of anemone, Leaf curl of celery, Terminal crook disease of pine</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Colletotrichum acutatum</a></td>
              <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">North American red-band needle blight</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Dothistroma pini</a></td>
              <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Dothistroma needle blight, Red band needle blight</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Dothistroma septosporum</a></td>
              <td class="govuk-table__cell">Plants for planting other than seeds</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Brown spot of pine, Needle blight of pine</th>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="#">Lecanosticta acicola</a></td>
              <td class="govuk-table__cell"></td>
        </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Acanthonevra dunlopi</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acanthonevra dunlopi</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Acidiella kagoshimensis</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acidiella kagoshimensis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Acidoxantha bombacis</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acidoxantha bombacis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Acleris issikii</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris issikii</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Acleris nishidai</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris nishidai</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Acleris senescens</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris senescens</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Acroceratitis distincta</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acroceratitis distincta</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Acrogonia virescens</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acrogonia virescens</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Helicoverpa armigera</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">African cotton bollworm, Corn earworm, Cotton bollworm, Old World bollworm, Scarce
          bordered straw, Tobacco budworm, Tomato grub</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Agrilus fleischeri</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Agrilus fleischeri</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Alaska spruce beetle, Eastern spruce beetle, Engelmann spruce beetle, Red-winged
          pine beetle, Sitka-spruce beetle, Spruce beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Dendroctonus rufipennis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">apple leaf twister, snowy-shouldered Acleris Moth</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris nivisellana</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Apple stem borer, city longhorn beetle, Sart longhorn beetle, The Quetta Borer,
          town longhorn beetle, Uzbek longhorn beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Aeolesthes sarta</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Arceuthobium divaricatum</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Arceuthobium divaricatum</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Arizona five-spined engraver</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips lecontei</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Armand pine bark weevil</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Pissodes punctatus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Atropellis apiculata</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Atropellis apiculata</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">black fir sawyer, black fir swayer, White mottled sawyer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus urossovii</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Black hills beetle, Mountain pine beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Dendroctonus ponderosae</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">black pine sawyer beetle, Pine sawyer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus galloprovincialis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Blister rust of chir pine, Chir pine blister rust</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Cronartium himalayense</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Branch canker of pine, Trunk canker of pine, Twig blight of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Atropellis pinicola</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Branch canker of pine, Trunk canker of pine, Twig blight of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Atropellis piniphila</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Bronze birch borer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Agrilus anxius</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Brown needle blight of pine, Cercospora blight of pine, Needle blight of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Pseudocercospora pini-densiflorae</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Brown spot of pine, Needle blight of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Lecanosticta acicola</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Bud blight of soybean, Tobacco ringspot virus 1, Tobacco ringspot virus: tobacco,
          soybean</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Tobacco ringspot virus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">California five-spined engraver, California five-spined ips</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips paraconfusus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">California pine engraver</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips plastographus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Californian five-spined engraver, PiÔøΩon ips</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips confusus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Canker of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Atropellis tingens</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Carolina sawyer, Pine sawyer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus carolinensis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Coarse writing engraver, Six-spined ips, Western six-spined engraver</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips calligraphus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Comandra blister rust, Comandra blister rust of pine, Stem rust of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Cronartium comandrae</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Conifer/poplar rust, Leaf rust of poplar, Poplar rust</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Melampsora medusae</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Dendroctonus mesoamericanus</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Dendroctonus mesoamericanus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Deodar weevil, Northern pine weevil</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Pissodes nemorensis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Digger pine dwarf mistletoe</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Arceuthobium occidentale</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Double-spined bark beetle, Northern bark beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips duplicatus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Eastern black headed budworm, Hemlock budworm</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris variana</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Eastern Five-Spined Engraver, Five-spined bark beetle, Southern pine engraver</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips grandicollis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
     
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Eastern pine engraver, Oregon pine engraver, pine engraver</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips pini</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Eastern spruce budworm, Spruce budworm</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Choristoneura fumiferana</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Eight-spined engraver, Eight-toothed spruce bark beetle, Larger eight-toothed
          European spruce bark beetle, Spruce bark beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips typographus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Eight-toothed spruce bark beetle, Small spruce bark beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips amitinus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Emerald Ash Borer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Agrilus planipennis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Englemann spruce weevil, Sitka spruce weevil, White pine weevil</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Pissodes strobi</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Euplatypus parallelus</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Euplatypus parallelus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">four-eyed fir bark beetle, Japanese silver-fir bark beetle, Sakhalin fir bark
          beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Polygraphus proximus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Friscanus friscanus</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Friscanus friscanus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Fusiform rust of pine, Rust of oak, Southern fusiform rust, Southern fusiform rust
          of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Cronartium quercuum f. sp. fusiforme</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Hauser's engraver, Kyrgyz mountain engraver</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Ips hauseri</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Hemlock dwarf mistletoe</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Arceuthobium tsugense</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Himalayan dwarf mistletoe</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Arceuthobium minutissimum</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Jack pine budworm (C. pinus pinus), Pitch Pine Budworm (C. pinus ssp. maritima)
        </td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Choristoneura pinus pinus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Japanese pine sawyer, Pine sawyer, Japanese</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus alternatus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
     
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Larch dwarf mistletoe</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Arceuthobium laricis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Lemon tree borer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Oemona hirta</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">lesser apple leaf-folder, yellow-headed fireworm</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris minuta</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Lodgepole pine dwarf mistletoe</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Arceuthobium americanum</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Lodgepole pine terminal weevil, Lodgepole terminal weevil</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Pissodes terminalis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Monochamus sartor</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus sartor</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">North American red-band needle blight</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Dothistroma pini</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Northeastern sawyer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus notatus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Oak Leafshredder Moth, Oak Leaftier Moth</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris semipurpurana</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Obtuse sawyer, Sawyer, obtuse</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus obtusus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">occidental sharpshooter</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Cuerna occidentalis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Oregon Fir sawyer, white spotted pine sawyer, White spotted sawyer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus scutellatus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Pear driller, Pear fruit moth</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acrobasis pirivorella</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Pine sawyer, southern, Southern pine sawyer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus titillator</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Pine wilt disease, Pine wood nematode</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Bursaphelenchus xylophilus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Pissodes cibriani</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Pissodes cibriani</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Pissodes zitacuarense</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Pissodes zitacuarense</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Pitch canker of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Fusarium circinatum</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Red turpentine beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Dendroctonus valens</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Rhubarb spittlebug</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Aphrophora permutata</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Robinson's acleris moth</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris robinsoniana</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Roundheaded pine beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Dendroctonus adjunctus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
     
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Southern pine beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Dendroctonus frontalis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Southwestern dwarf mistletoe</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Arceuthobium vaginatum</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Southwestern pine beetle, Western pine beetle</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Dendroctonus brevicomis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Spotted pine sawyer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Monochamus maculosus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Stalactiform blister rust, Stalactiform blister rust of pine, Western gall rust of
          pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Cronartium coleosporioides</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Sugar pine tortrix</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Choristoneura lambertiana</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Sweet fern blister rust</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Cronartium comptoniae</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Tea seed flies</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Adrama spp.</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Two-lined chestnut borer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Agrilus bilineatus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Western black-headed budworm</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Acleris gloveranus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Western dwarf mistletoe</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Arceuthobium campylopodum</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Western gall rust, Western gall rust of pine</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Cronartium harknessii</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Western hemlock wood stainer</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Gnathotrichus sulcatus</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Western spruce budworm</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Choristoneura occidentalis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Xiphinema californicum</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Xiphinema californicum</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Yunnan pine weevil</td>
        <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">Pissodes yunnanensis</a>
        </td>
        <td class="govuk-table__cell"></td>
      </tr>-->
    </table>
    {% endif %}

    <br>
    <br>
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button" >
        Find another plant or pest
      </button>
      <p class="govuk-heading-s">Get help with this service</p>
      <p class="govuk-body">If you have any queries or you need technical support, email <a href="mailto:planthealth.Info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
      </p>
    </form>
  </div>
</div>

{% endblock %}