{% extends "layouts/main.html" %}

{% block pageTitle %}
Quercus robur
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Quercus robur </h1>
    <h2 class="govuk-heading-m">
      Identity
    </h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>

    <ul class="govuk-list">
      <li>
        Oak
      </li>
      <li>
        English oak
      </li>
      <li>
        Pedunculate
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <p>
      Quercus pedunculata</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      EPPO code
    </h3>
    <p>
      QUERO</p>

    {% if country is not defined or country == 'Default Country'%}
    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Importing Quercus robur into the UK
    </h2>

    <p>To find out what extra checks or documentation are needed,
      <a class="govuk-link" href="/{{version}}/service/country-select">provide a country of origin</a>
    </p>

    <h6 class="govuk-heading-s">
      Pest and disease risks
    </h6>
    <p>Quercus robur could carry the following quarantine pests and diseases into the UK. If one of these pests
      or diseases is found on a plant, you must notify the plant health authority. If a routine inspection at the border
      finds one of these pests or diseases, the consignment will need to be destroyed.</p>
    <ul class="govuk-list">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="">Acute Oak Decline</a>
        </li>
        <li>
          <a class="govuk-link" href="">Agrilus biguttatus</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak jewel beetle</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak splendour beetle</a>
        </li>
        <li>
          <a class="govuk-link" href="">Two -spot woodborer</a>
        </li>
        <li>
          <a class="govuk-link" href="">Agrilus bilineatus</a>
        </li>
        <li>
          <a class="govuk-link" href="">Two-lined chestnut borer</a>
        </li>
        <li>
          <a class="govuk-link" href="">Agrilus hastulifer</a>
        </li>
        <li>
          <a class="govuk-link" href="">Anisandrus maiche</a>
        </li>
        <li>
          <a class="govuk-link" href="">Apple root knot nematode</a>
        </li>
        <li>
          <a class="govuk-link" href="">Meloidogyne mali</a>
        </li>
        <li>
          <a class="govuk-link" href="">Ceratocystis fagacearum</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak wilt</a>
        </li>
        <li>
          <a class="govuk-link" href="">Wilt of oak</a>
        </li>
        <li>
          <a class="govuk-link" href="">Cerroneuroterus lanuginosus</a>
        </li>
        <li>
          <a class="govuk-link" href="">Citrus codling moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">False codling moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Orange codling moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Orange moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Thaumatotibia leucotreta</a>
        </li>
        <li>
          <a class="govuk-link" href="">Corythucha arcuata</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak lace bug</a>
        </li>
        <li>
          <a class="govuk-link" href="">Drupe rot of olive</a>
        </li>
        <li>
          <a class="govuk-link" href="">Neofusicoccum australe</a>
        </li>
        <li>
          <a class="govuk-link" href="">Euwallacea sp.</a>
        </li>
        <li>
          <a class="govuk-link" href="">Polyphagous shot hole borer</a>
        </li>
        <li>
          <a class="govuk-link" href="">Fusarium dieback spread by Polyphagous Shot Hole Borer</a>
        </li>
        <li>
          <a class="govuk-link" href="">Fusarium euwallaceae</a>
        </li>
        <li>
          <a class="govuk-link" href="">Gypsy moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Lymantria dispar</a>
        </li>
        <li>
          <a class="govuk-link" href="">Hylesia nigricans</a>
        </li>
        <li>
          <a class="govuk-link" href="">Ink disease of chestnut</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora cambivora</a>
        </li>
        <li>
          <a class="govuk-link" href="">Japanese Oak wilt</a>
        </li>
        <li>
          <a class="govuk-link" href="">Lethal disease of Oak</a>
        </li>
        <li>
          <a class="govuk-link" href="">Raffaelea quercivora</a>
        </li>
        <li>
          <a class="govuk-link" href="">Malacosoma parallela</a>
        </li>
        <li>
          <a class="govuk-link" href="">Mountain ring silk moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Neofusicoccum luteum</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak processionary caterpillar</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak processionary moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Thaumetopoea processionea</a>
        </li>
        <li>
          <a class="govuk-link" href="">Operophtera brumata</a>
        </li>
        <li>
          <a class="govuk-link" href="">European</a>
        </li>
        <li>
          <a class="govuk-link" href="">Winter moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phellinus everhartii</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phylloxera quercus</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora kernoviae</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora pseudosyringae</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora quercina</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora ramorum</a>
        </li>
        <li>
          <a class="govuk-link" href="">Ramorum leaf blight</a>
        </li>
        <li>
          <a class="govuk-link" href="">Ramorum shoot dieback</a>
        </li>
        <li>
          <a class="govuk-link" href="">Rhododendron twig blight</a>
        </li>
        <li>
          <a class="govuk-link" href="">Sudden oak death</a>
        </li>
        <li>
          <a class="govuk-link" href="">Platypus quercivorus</a>
        </li>
        <li>
          <a class="govuk-link" href="/{{version}}/pests/xylella-fastidiosa">Xylella fastidiosa</a>
        </li>
      </ul>

    </ul>

    {% else %}

    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Importing quercus robur from {{data['country']}}
    </h2>
    <p>You will need: (The following links open in a new tab)</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        a <a class="govuk-link"
          href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#get-a-phytosanitary-certificate-pc">phytosanitary
          certificate (PC)</a>
      </li>
      <li>
        to <a class="govuk-link"
          href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#making-a-pre-notification">pre-notify
          the plant health authority</a>
      </li>
    </ul>
    <p>
      You may need to include an additional declaration on the phytosanitary certificate, <a class="govuk-link"
        rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/imports-special-requirements-tool-and-user-guide-for-plants-for-planting/">check
        what information you need to provide using the additional declaration tool</a>.</p>

    <h3 class="govuk-heading-s">
      Pest and disease risks
    </h3>

    <p>If a routine inspection at the border finds a quarantine pest or disease, the consignment will need to be
      destroyed. 354 consignments of Quercus robur from {{data['country']}} have been destroyed from January to
      September 2023</p>


    <h3 class="govuk-heading-s">
      Quarantine pests and diseases Quercus robur could be host to
    </h3>
    <ul class="govuk-list">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="">Anisandrus maiche</a>
        </li>
        <li>
          <a class="govuk-link" href="">Apple root knot nematode</a>
        </li>
        <li>
          <a class="govuk-link" href="">Meloidogyne mali</a>
        </li>
        <li>
          <a class="govuk-link" href="">Ceratocystis fagacearum</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak wilt</a>
        </li>
        <li>
          <a class="govuk-link" href="">Neofusicoccum australe</a>
        </li>
        <li>
          <a class="govuk-link" href="">Euwallacea sp.</a>
        </li>
        <li>
          <a class="govuk-link" href="">Polyphagous shot hole borer</a>
        </li>
        <li>
          <a class="govuk-link" href="">Fusarium dieback spread by Polyphagous Shot Hole Borer</a>
        </li>
        <li>
          <a class="govuk-link" href="">Fusarium euwallaceae</a>
        </li>
        <li>
          <a class="govuk-link" href="">Gypsy moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Lymantria dispar</a>
        </li>
        <li>
          <a class="govuk-link" href="">Hylesia nigricans</a>
        </li>
        <li>
          <a class="govuk-link" href="">Ink disease of chestnut</a>
        </li>
        <li>
          <a class="govuk-link" href="">Mountain ring silk moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Neofusicoccum luteum</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak processionary caterpillar</a>
        </li>
        <li>
          <a class="govuk-link" href="">Oak processionary moth</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phellinus everhartii</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phylloxera quercus</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora kernoviae</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora pseudosyringae</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora quercina</a>
        </li>
        <li>
          <a class="govuk-link" href="">Phytophthora ramorum</a>
        </li>
        <li>
          <a class="govuk-link" href="/{{version}}/pests/xylella-fastidiosa">Xylella fastidiosa</a>
        </li>
      </ul>

    </ul>
    {% endif %}

  </div>
</div>

{% endblock %}