{% extends "layouts/main.html" %}

{% block pageTitle %}
Anoplophora glabripennis
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      Pest or disease
    </span>
    <h1 class="govuk-heading-xl">
      Anoplophora glabripennis
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must <a class="govuk-link"
        href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/">report any
        suspicions</a> of Anoplophora glabripennis
        </strong>
    </div>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>
    <ul class="govuk-list">
      <li>
        Asian long-horned beetle	
      </li>
      <li>
        Asian longhorn beetle	
      </li>
      <li>
        basicosta white-spotted longicorn beetle	
      </li>
      <li>
        starry sky beetle	
      </li>
      
    </ul>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <ul class="govuk-list">
      <li>
      Anoplophora glabripennis
      </li>
      <li>
      Anoplophora nobilis
      </li>
      <li>
      Cerosterna glabripennis
      </li>
      <li>
        Cerosterna laevigator
      </li>
      <li>
        Melanauster angustatus
      </li>
      <li>
        Melanauster glabripennis var. lagaisei
      </li>
      <li>
        Melanauster leuteonotatus
      </li>
      <li>
        Melanauster nankineus
      </li>
      <li>
        Melanauster nobilis
      </li>
    </ul>



<!--
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-content-1">
              More details
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-list">
            <li>
            Melanauster glabripennis var. lagaisei
          </li>
          <li>
            Melanauster leuteonotatus
          </li>
          <li>
            Melanauster nankineus
          </li>
          <li>
            Melanauster nobilis
          </li>
        </p>
        </div>
      </div>-->

    <!--<div class="govuk-grid-row govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-half govuk-body">
        <a href="https://gd.eppo.int/taxon/XYLEFA/" rel="noreferrer noopener" target="_blank">
          <img src="/public/XYLEFA_1791.jpg" alt="View plant pest factsheet on Xylella fastidiosa (PDF)">
        </a>
      </div>
   
    </div>-->
    <div class="govuk-inset-text">You can
      <a href="https://gd.eppo.int/taxon/ANOLGL" class="govuk-link govuk-body govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">view photos of Anoplophora glabripennis in the EPPO Global Database.
      </a>
    </div>

    
    <h2 class="govuk-heading-m">
      Plant health publications about Anoplophora glabripennis
    </h2>
    <p class="'govuk-body">These files may not be suitable for users of assistive technology.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Request an accessible format
        </span>
      </summary>
      <div class="govuk-details__text">
        If you use assistive technology (such as a screen reader) and need a version of this document in a more
        accessible format, please email plantpestsrisks@defra.gov.uk. Please tell us what format you need. It
        will help us if you say what assistive technology you use. </div>
    </details>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">

      <div class="govuk-grid-column-one-quarter">
        <a href="/public/factsheets/xylella_fact_sheet.pdf" rel="noreferrer noopener" target="_blank">
          <img src="/public/doc_image.png" alt="View plant pest factsheet on Xylella fastidiosa (PDF)">
        </a>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <a href="/public/factsheets/anolgl_fact_sheet.pdf"
          class="govuk-link govuk-body-l govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Plant pest factsheet
        </a>
        <div id="file-hint" class="govuk-hint govuk-!-margin-top-2">
          March 2023
          <br>
          PDF, 303KB, 5 pages
        </div>
      </div>
    </div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Other publications</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Title</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">November 2021</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/alerts/Pest-alert-Anoplophora-glabripennis-final.pdf">Pest Alert: Asian longhorn beetle (Anoplophora glabripennis)<span class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF, 2
            pages)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">October 2020</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/alerts/Anoplophora-glabripennis.pdf">Pest specific plant health response
              plan:<span
                class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF, 76
            pages)</td>
        </tr>
        
      </tbody>
    </table>

    <h2 class="govuk-heading-m">
      Plants that can carry Anoplophora glabripennis
    </h2>
    <p class="govuk-list">
    <ul class="govuk-list">
      <li>Acer</li>
      <li>Acer negundo</li>
      <li>Acer platanoides</li>
      <li>Acer pseudoplatanus</li>
      <li>Acer saccharinum</li>
      <li>Acer saccharum</li>
      <li>Acer tegmentosum</li>
      <li>Acer truncatum</li>
      <li>Aesculus</li>
      <li>Aesculus hippocastanum</li>
      <li>Albizia julibrissin</li>
      <li>Alnus</li>
      <li>Betula</li>
      <li>Carpinus</li>
      <li>Cercidiphyllum</li>
      <li>Corylus</li>
      <li>Corylus colurna</li>
      <li>Elaeagnus angustifolia</li>
      <li>Fagus</li>
      <li>Fagus</li>
      <li>Fagus sylvatica</li>
      <li>Fraxinus, Koelreuteria</li>
      <li>Koelreuteria paniculata</li>
      <li>Malus domestica</li>
      <li>Morus alba</li>
      <li>Platanus</li>
      <li>Populus</li>
      <li>Prunus</li>
      <li>Prunus serrulata</li>
      <li>Pyrus bretschneideri</li>
      <li>Salix</li>
      <li>Tilia</li>
      <li>Ulmus</li>
    </ul>
  </p>
    
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button" >
        Find another plant or pest
      </button>
      <p class="govuk-heading-s">Get help with this service</p>
      <p class="govuk-body">If you have any queries or you need technical support, email <a href="mailto:planthealth.Info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
      </p>
    </form>

  </div>
</div>

<style>
  @media only screen and (max-width: 640px) {
    img {
      width: 30%
    }
  }

  @media only screen and (min-width: 641px) {
    img {
      width: 110%
    }
  }
</style>

{% endblock %}