{% extends "layouts/main.html" %}

{% block pageTitle %}
Bemisia tabaci
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Bemisia tabaci
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must <a class="govuk-link"
          href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/">report any
          sightings or suspicions</a> of Bemisia tabaci.
      </strong>
    </div>

    <h2 class="govuk-heading-m">
      Identity
    </h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>
    <ul class="govuk-list">
      <li>
        Cassava whitefly
      </li>
      <li>
        Cotton whitefly
      </li>
      <li>
        Sweet potato whitefly
      </li>
      <li>
        Tobacco whitefly
      </li>
    </ul>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <p>None</p>

    <br>

    <h2 class="govuk-heading-m">
      Plant health publications about Bemisia tabaci
    </h2>
    <p class="'govuk-body">These files may not be suitable for users of assistive technology.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Request an accessible format
        </span>
      </summary>
      <div class="govuk-details__text">
        If you use assistive technology (such as a screen reader) and need a version of this document in a more
        accessible format, please email plantpestsrisks@defra.gov.uk. Please tell us what format you need. It
        will help us if you say what assistive technology you use. </div>
    </details>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">

      <div class="govuk-grid-column-one-quarter">
        <a href="/public/factsheets/Bemisia-tabaci.pdf" rel="noreferrer noopener" target="_blank">
          <img src="/public/doc_image.png" alt="View plant pest factsheet on Bemisia tabaci (PDF)">
        </a>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <a href="/public/factsheets/Bemisia-tabaci.pdf"
          class="govuk-link govuk-body-l govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Plant pest factsheet
        </a>
        <div id="file-hint" class="govuk-hint govuk-!-margin-top-2">
          February 2017
          <br>
          PDF, 402KB, 6 pages
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      Host plants of Bemisia tabaci
    </h2>
    <ul class="govuk-list">
      <li>Abelmoschus esculentus (L.) Moench</li>
      <li>Ajuga L.</li>
      <li>Arachis hypogaea L.</li>
      <li>Begonia L.</li>
      <li>Borago officinalis L.</li>
      <li>Cajanus cajan (L.) Millsp./Huth</li>
      <li>Capsicum annuum L.</li>
      <li>Cucumis sativus L.</li>
      <li>Cucurbita pepo L.</li>
      <li>Cucurbitaceae</li>
      <li>Dipladenia A.Dc.</li>
      <li>Euphorbia pulcherrima</li>
      <li>Ficus L.</li>
      <li>Gerbera jamesonii H.Bolus Ex Hook.F.</li>
      <li>Glycine max (L.) Merr.</li>
      <li>Gossypium L.</li>
      <li>Hibiscus L.</li>
      <li>Ipomoea batatas (L.) Poir./Lam.</li>
      <li>Lactuca sativa L.</li>
      <li>Lavandula stricta Del.</li>
      <li>Solanum lycopersicum L.</li>
      <li>Majorana hortensis Moench</li>
      <li>Mandevilla Lindl.</li>
      <li>Manihot esculenta Crantz</li>
      <li>Melissa officinalis L.</li>
      <li>Mentha L.</li>
      <li>Nerium oleander L.</li>
      <li>Nicotiana Linnaeus</li>
      <li>Nicotiana tabacum L.</li>
      <li>Ocimum basilicum L.</li>
      <li>Phaseolus L.</li>
      <li>Piper nigrum L.</li>
      <li>Salvia L.</li>
      <li>Salvia officinalis L.</li>
      <li>Sinningia Nees</li>
      <li>Sinningia speciosa (Lodd.) Hiern</li>
      <li>Solanum L.</li>
      <li>Solanum melongena L.</li>
      <li>Tagetes erecta L.</li>
      <li>Thymus serpyllum L. em. Mill.</li>
      <li>Crossandra</li>
      <li>Euphorbiaceae (family)</li>
      <li>Malvaceae (family)</li>
      <li>Solanaceae (family)</li>
      <li>Asteraceae (family)</li>
      <li>Brassicaceae (family)</li>
      <li>Convolvulaceae (family)</li>
      <li>Fabaceae (family)</li>
      <li>Gossypium hirsutum</li>
    </ul>

    <br>
    <br>
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Search again
      </button>
    </form>

  </div>
</div>


<style>
  @media only screen and (max-width: 640px) {
    img {
      width: 30%
    }
  }

  @media only screen and (min-width: 641px) {
    img {
      width: 110%
    }
  }
</style>
{% endblock %}