{% extends "layouts/main.html" %}

{% block pageTitle %}
Parabemisia myricae
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      Pest or disease
    </span>
    <h1 class="govuk-heading-xl">
      Parabemisia myricae
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must <a class="govuk-link"
        href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/">report any
        suspicions</a> of Parabemisia myricae
      </strong>

    </div>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>
    <ul class="govuk-list">
      <li>
        Japanese bayberry whitefly	
      </li>
    </ul>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <ul class="govuk-list">
      <li>
        Bemisia myricae
      </li>
    </ul>

    <!--<div class="govuk-grid-row govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-half govuk-body">
        <a href="https://gd.eppo.int/taxon/XYLEFA/" rel="noreferrer noopener" target="_blank">
          <img src="/public/XYLEFA_1791.jpg" alt="View plant pest factsheet on Xylella fastidiosa (PDF)">
        </a>
      </div>
   
    </div>-->
    <div class="govuk-inset-text">
      There are no photos of Parabemisia myricae to view in the EPPO Global Database.
    </div>
    

    <!--
    <h2 class="govuk-heading-m">
      Plant health publications about Parabemisia myricae
    </h2>
    <p class="'govuk-body">These files may not be suitable for users of assistive technology.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Request an accessible format
        </span>
      </summary>
      <div class="govuk-details__text">
        If you use assistive technology (such as a screen reader) and need a version of this document in a more
        accessible format, please email plantpestsrisks@defra.gov.uk. Please tell us what format you need. It
        will help us if you say what assistive technology you use. </div>
    </details>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">

      <div class="govuk-grid-column-one-quarter">
        <a href="/public/factsheets/xylella_fact_sheet.pdf" rel="noreferrer noopener" target="_blank">
          <img src="/public/doc_image.png" alt="View plant pest factsheet on Xylella fastidiosa (PDF)">
        </a>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <a href="/public/factsheets/anolgl_fact_sheet.pdf"
          class="govuk-link govuk-body-l govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Plant pest factsheet (Not available)
        </a>
        <div id="file-hint" class="govuk-hint govuk-!-margin-top-2">
          March 2023
          <br>
          PDF, 303KB, 5 pages
        </div>
      </div>
    </div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Other publications (Need updated data)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Title</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">November 2021</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/alerts/Pest_alert_Xylella_on_olive_trees.pdf">Pest alert: Olive trees, risk to trade
              from
              Xylella fastidiosa<span class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF, 6
            pages)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">October 2020</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/factsheets/xylella_fact_sheet.pdf">Supplementary data on Xylella fastidiosa<span
                class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF, 6
            pages)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">July 2019</td>
          <td class="govuk-table__cell"><a class="govuk-link" rel="noreferrer noopener" target="_blank"
              href="/public/infoNote/Xylella-hostinfonote.pdf">Information note: Xylella high risk hosts <span
                class="govuk-visually-hidden">(opens in new tab)</span></a><br>(PDF, 5
            pages)</td>
        </tr>
      </tbody>
    </table>-->

    <h2 class="govuk-heading-m">
      Plants that can carry Parabemisia myricae
    </h2>
    <p class="govuk-list">
    <ul class="govuk-list govuk-!-margin-bottom-7">
      <li>Betula</li> <li>Camellia sinensis</li> <li>Cinnamomum camphora</li> <li>Citrus</li> <li>Citrus limon</li> <li>Citrus paradisi</li> <li>Citrus reticulata</li> 
<li>Citrus sinensis</li> <li>Coffea</li> <li>Diospyros kaki</li> <li>Eriobotrya japonica</li> <li>Ficus carica</li> <li>Fortunella</li> <li>Gardenia jasminoides</li> <li>Hibiscus</li> <li>Morus</li>
<li>Morus alba</li> <li>Myrica rubra</li> <li>Persea americana</li> <li>Poncirus</li> <li>Poncirus trifoliata</li> <li>Prunus</li> <li>Prunus avium ssp./var. avium</li> 
<li>Prunus domestica ssp. domestica</li> <li>Prunus persica</li> <li>Prunus salicina</li> <li>Pyrus pyraster</li> <li>Quercus</li> <li>Salix</li>
      
    </ul>
  </p>
    
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Find another plant or pest
      </button>
      <p class="govuk-heading-s">Get help with this service</p>
      <p class="govuk-body">If you have any queries or you need technical support, email <a href="mailto:planthealth.Info@apha.gov.uk" class="govuk-link">planthealth.info@apha.gov.uk</a>
      </p>
    </form>

  </div>
</div>

<style>
  @media only screen and (max-width: 640px) {
    img {
      width: 30%
    }
  }

  @media only screen and (min-width: 641px) {
    img {
      width: 110%
    }
  }
</style>

{% endblock %}