{% extends "layouts/main.html" %}

{% block pageTitle %}
Solanum lycopersicum
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Solanum lycopersicum </h1>
    <h2 class="govuk-heading-m">
      Identity
    </h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Common names
    </h3>

    <ul class="govuk-list">
      <li>
        Tomato
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Synonyms
    </h3>
    <ul class="govuk-list">
      <li>
        Lycopersicon lycopersicum
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      EPPO code
    </h3>
    <p>
      LYPES</p>

    {% if country is not defined or country == 'Default Country'%}
    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Importing solanum lycopersicum into Great Britain
    </h2>

    <p>
      To find out what extra checks or documentation are needed, <a class="govuk-link"
        href="/{{version}}/service/country-select">provide where you are importing from</a>.
    </p>

    <h2 class="govuk-heading-m">
      Pests and diseases you must report
    </h2>
    <p class="govuk-body">Solanum lycopersicum might carry the pests or diseases listed below.</p>
    <p class="govuk-body">If one of these pests or diseases is found during plant health inspections, action will be
      taken. This could result in plant consignments being delayed or destroyed.</p>
    <p class="govuk-body">You must <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/contact-apha#plant-health-reports-and-other-queries">report any suspicions of
        these pests or diseases to APHA (Animal and Plant Health Agency).</a></p>
    <p class="govuk-body">To find out the pest and disease risk from a specific area, <a class="govuk-link"
          href="/{{version}}/service/country-select">provide where you are importing from</a>.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Common name</th>
          <th scope="col" class="govuk-table__header">Scientific name</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Acholeplasmataceae</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Acholeplasmataceae">Acholeplasmataceae</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Black wood of grapevine, Female sterility of tobacco, Fruit
            woodiness of tomato, Maize Redness, Mal azul of tomato, Metabolbur, Metastolbur, Parastolbur, Purple top of
            potato, Stolbur of potato, Stolbur of tobacco, Stolbur of tomato</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View 'Candidatus Phytoplasma solani'">'Candidatus Phytoplasma solani'</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Spiralling white fly</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Aleurodicus dispersus">Aleurodicus dispersus</a>
          </td>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Malaysian fruit fly, Solanum fruit fly</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Bactrocera latifrons">Bactrocera latifrons</a>
          </td>
        </tr>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cassava whitefly, Cotton whitefly, Sweet potato whitefly, Tobacco whitefly</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="/{{version}}/pests/bemisia-tabaci"
              aria-label="View Bemisia tabaci">Bemisia tabaci</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Oriental tomato thrips</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Ceratothripoides claratris">Ceratothripoides claratris</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Chilli veinal mottle virus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Chilli veinal mottle virus">Chilli veinal mottle virus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Green semi-looper</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Chrysodeixis eriosoma">Chrysodeixis eriosoma</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Citrus exocortis, Citrus scaly butt, Scaly butt of citrus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Citrus exocortis viroid">Citrus exocortis viroid</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Japanese swift moth</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Endoclita excrescens">Endoclita excrescens</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Citrus spider mite, Six spotted spider mite</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Eotetranychus sexmaculatus">Eotetranychus sexmaculatus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Globodera tabacum sensu lato</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Globodera tabacum sensu lato">Globodera tabacum sensu lato</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Groundnut bud necrosis virus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Groundnut bud necrosis virus">Groundnut bud necrosis virus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nematode, common spiral, Spiral nematode, Steiners spiral nematode</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Helicotylenchus dihystera">Helicotylenchus dihystera</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">African cotton bollworm, Corn earworm, Cotton bollworm, Old World bollworm,
            Scarce bordered straw, Tobacco budworm, Tomato grub</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Helicoverpa armigera">Helicoverpa armigera</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cape-gooseberry budworm, Oriental tobacco budworm</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Helicoverpa assulta">Helicoverpa assulta</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Colorado beetle, Colorado potato beetle</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Leptinotarsa decemlineata">Leptinotarsa decemlineata</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Brinjal fruit and shoot borer, Eggplant fruit borer</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Leucinodes orbonalis">Leucinodes orbonalis</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">pea leaf miner</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Liriomyza huidobrensis">Liriomyza huidobrensis</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">American leaf miner, Potato leaf miner, Serpentine leaf miner, South American
            leaf miner, Serpentine vegetable leaf miner, Vegetable leaf miner</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Liriomyza sativae">Liriomyza sativae</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">American serpentine leaf miner, Broad bean leaf miner, Californian leaf miner,
            Celery leaf miner, Chrysanthemum leaf miner</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Liriomyza trifolii">Liriomyza trifolii</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Hibiscus mealybug, Pink hibiscus mealybug, Pink mealybug</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Maconellicoccus hirsutus">Maconellicoccus hirsutus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Nematode, peanut root-knot, Peanut root-knot nematode, Root gall nematode,
            Root-knot nematode </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Meloidogyne arenaria">Meloidogyne arenaria</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Papaya mealybug</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Paracoccus marginatus">Paracoccus marginatus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Stubby root nematode</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Paratrichodorus minor">Paratrichodorus minor</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Lantana mealybug</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Phenacoccus parvus">Phenacoccus parvus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">cotton mealybug</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Phenacoccus solenopsis">Phenacoccus solenopsis</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Bunchy top of tomato, Spindle tuber of potato</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Potato spindle tuber viroid">Potato spindle tuber viroid</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Potato mild mosaic, Potato mottle, Tomato streak</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Potato virus X (non-European strains)">Potato virus X (non-European strains)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Potato acropetal necrosis, Potato leaf-drop streak, Potato mottle, Potato severe
            mosaic, Potato stipple streak, Tobacco vein-banding, Tobacco veinal necrosis, Veinal necrosis of pepper</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Potato virus Y (non-European strains)">Potato virus Y (non-European strains)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Root lesion nematode</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Pratylenchus scribneri">Pratylenchus scribneri</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Ralstonia pseudosolanacearum</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Ralstonia pseudosolanacearum">Ralstonia pseudosolanacearum</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Red rice root aphid, Rice root aphid</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Rhopalosiphum rufiabdominale">Rhopalosiphum rufiabdominale</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Assam thrips, Castor thrips, Chilli thrips, Yellow tea thrips</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Scirtothrips dorsalis">Scirtothrips dorsalis</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Scutellonema brachyurus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Scutellonema brachyurus">Scutellonema brachyurus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Spilostethus hospes</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Spilostethus hospes">Spilostethus hospes</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Spilostethus pandurus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Spilostethus pandurus">Spilostethus pandurus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Fall armyworm, Grass worm</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Spodoptera frugiperda">Spodoptera frugiperda</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Asian cotton leafworm, Cluster caterpillar, Fall armyworm, Rice cutworm, Taro
            caterpillar, Tobacco budworm, Tobacco caterpillar, Tobacco cutworm, Tobacco leaf caterpillar</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Spodoptera litura">Spodoptera litura</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tomato brown rugose fruit virus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Tomato brown rugose fruit virus">Tomato brown rugose fruit virus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tomato mottle mosaic virus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Tomato mottle mosaic virus">Tomato mottle mosaic virus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Leaf curl, Tomato yellow leaf curl virus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Tomato yellow leaf curl virus">Tomato yellow leaf curl virus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Stunt nematode</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Tylenchorhynchus leviterminalis">Tylenchorhynchus leviterminalis</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Watermelon silver mottle orthotospovirus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Watermelon silver mottle orthotospovirus">Watermelon silver mottle orthotospovirus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Bacterial leaf spot of tomato, Bacterial spot of pepper</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Xanthomonas euvesicatoria">Xanthomonas euvesicatoria</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Melon fly, Melon fruit fly</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Zeugodacus cucurbitae">Zeugodacus cucurbitae</a>
          </td>
        </tr>
      </tbody>
    </table>
  
    {% else %}

    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      Importing solanum lycopersicum from {{data['country']}}
    </h2>
    {% if inEU %}
    <p class="govuk-body">
      Check how to <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-the-eu-to-great-britain-and-northern-ireland">import
        plants
        and plant products from the EU (opens in new tab)</a>.
    </p>

    {% else %}

    <p class="govuk-body">
      You may not be allowed to bring this plant into Great Britain, check the <a class="govuk-link"
        rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from/prohibitions/">list of prohibited
        commodities on the plant health portal (opens in new tab)</a>.
    </p>

    <p class="govuk-body">
      Check how to <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk">import
        plants
        and plant products from non-EU countries (opens in new tab)</a>.
    </p>
    {% endif %}

    <p class="govuk-body">
      You may need to include an additional declaration on the phytosanitary certificate, <a class="govuk-link"
        rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/requirement-for-additional-declarations-ads-on-phytosanitary-certificate-pcs/">check
        what information you need to provide using the additional declaration tool (opens in new tab)</a>.
    </p>

    <p class="govuk-body">
      You can <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://planthealthportal.defra.gov.uk/trade/imports/non-compliance/">find out how
        often inspections at the border have resulted in delays or the destruction of goods</a>. This can be for
      many
      reasons including having incorrect paperwork or the presence of quarantine pests or diseases.
    </p>

    <h2 class="govuk-heading-m">
      Pests and diseases you must report
    </h2>
    <p class="govuk-body">Solanum lycopersicum might carry the pests or diseases listed below from
      {{data['country']}}.</p>
    <p class="govuk-body">If one of these pests or diseases is found during plant health inspections, action will be
      taken. This could result in plant consignments being delayed or destroyed.</p>
    <p class="govuk-body">You must <a class="govuk-link" rel="noreferrer noopener" target="_blank"
        href="https://www.gov.uk/guidance/contact-apha#plant-health-reports-and-other-queries">report any suspicions of
        these pests or diseases to APHA (Animal and Plant Health Agency).</a></p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Common name</th>
          <th scope="col" class="govuk-table__header">Scientific name</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Acholeplasmataceae</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Acholeplasmataceae">Acholeplasmataceae</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Black wood of grapevine, Female sterility of tobacco, Fruit
            woodiness of tomato, Maize Redness, Mal azul of tomato, Metabolbur, Metastolbur, Parastolbur, Purple top of
            potato, Stolbur of potato, Stolbur of tobacco, Stolbur of tomato</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View 'Candidatus Phytoplasma solani'">'Candidatus Phytoplasma solani'</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Spiralling white fly</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Aleurodicus dispersus">Aleurodicus dispersus</a>
          </td>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Malaysian fruit fly, Solanum fruit fly</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Bactrocera latifrons">Bactrocera latifrons</a>
          </td>
        </tr>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Cassava whitefly, Cotton whitefly, Sweet potato whitefly, Tobacco whitefly</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="/{{version}}/pests/bemisia-tabaci"
              aria-label="View Bemisia tabaci">Bemisia tabaci</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Oriental tomato thrips</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Ceratothripoides claratris">Ceratothripoides claratris</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Chilli veinal mottle virus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Chilli veinal mottle virus">Chilli veinal mottle virus</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Brinjal fruit and shoot borer, Eggplant fruit borer</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Leucinodes orbonalis">Leucinodes orbonalis</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">pea leaf miner</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Liriomyza huidobrensis">Liriomyza huidobrensis</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Bunchy top of tomato, Spindle tuber of potato</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Potato spindle tuber viroid">Potato spindle tuber viroid</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Potato mild mosaic, Potato mottle, Tomato streak</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Potato virus X (non-European strains)">Potato virus X (non-European strains)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Potato acropetal necrosis, Potato leaf-drop streak, Potato mottle, Potato severe
            mosaic, Potato stipple streak, Tobacco vein-banding, Tobacco veinal necrosis, Veinal necrosis of pepper</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Potato virus Y (non-European strains)">Potato virus Y (non-European strains)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Root lesion nematode</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Pratylenchus scribneri">Pratylenchus scribneri</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Ralstonia pseudosolanacearum</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Ralstonia pseudosolanacearum">Ralstonia pseudosolanacearum</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Red rice root aphid, Rice root aphid</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Rhopalosiphum rufiabdominale">Rhopalosiphum rufiabdominale</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Assam thrips, Castor thrips, Chilli thrips, Yellow tea thrips</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Scirtothrips dorsalis">Scirtothrips dorsalis</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Scutellonema brachyurus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Scutellonema brachyurus">Scutellonema brachyurus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Asian cotton leafworm, Cluster caterpillar, Fall armyworm, Rice cutworm, Taro
            caterpillar, Tobacco budworm, Tobacco caterpillar, Tobacco cutworm, Tobacco leaf caterpillar</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Spodoptera litura">Spodoptera litura</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tomato brown rugose fruit virus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Tomato brown rugose fruit virus">Tomato brown rugose fruit virus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tomato mottle mosaic virus</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Tomato mottle mosaic virus">Tomato mottle mosaic virus</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Bacterial leaf spot of tomato, Bacterial spot of pepper</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Xanthomonas euvesicatoria">Xanthomonas euvesicatoria</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Melon fly, Melon fruit fly</td>
          <td class="govuk-table__cell">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
              aria-label="View Zeugodacus cucurbitae">Zeugodacus cucurbitae</a>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    <br>
    <br>
    <form class="form" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Search again
      </button>
    </form>
  </div>
</div>

{% endblock %}